/* stylelint-disable selector-class-pattern */
@include b(change-password-item) {
    display: flex;
    min-height: var(--ibiz-editor-default-line-height);
    padding: 8px 4px;
    margin: 0;

    .el-form-item__label {
        justify-content: flex-start;
        width: 130px;
        padding: 0;
    }
    @include e(content) {
        flex: auto;
        width: auto;
        line-height: var(--ibiz-editor-default-line-height);
    }
}
@include b(change-password) {
    padding: 24px;
}

@include b(change-password-footer) {
    .el-button {
        width: 100%;
        margin-top: 15px;
        font-weight: 300;
        letter-spacing: 2px;
    }
}