@include b(custom-avatar) {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: var(--ibiz-color-primary-active-text);
  text-align: center;
  border-radius: 50%;

  @include e(default-avatar) {
    border-radius: 50%;
  }

  @include e(user-avatar) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
