@include b(repeater-grid){

    @include when(case-steps) {
        padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-extra-tight) var(--ibiz-spacing-tight) var(--ibiz-spacing-extra-tight);;
        @include e(add-row) {
            @include flex(row, flex-start, center);

            padding: getCssVar(spacing, base) getCssVar(spacing, base, loose);
            border-bottom: 1px solid getCssVar(color, border);
        }
        @include e(add-icon){
            font-size: 1.5em;
            color: getCssVar(color, primary);
        }
        @include e(add-btn){
            position: unset;
        }
        .#{bem(repeater-grid-index, remove)}{
            display: inline;
        }
    }

    @include e(add-dropdown){
        @include e(add-dropdown-icon){
            margin-right: getCssVar(spacing, tight);
            font-size: 1.5em;
        }
    }
}
