@include b('insert-item-list') {
  @include e('list-insert-items') {
    display: flex;
    flex-direction: column;
  }

  @include e('insert-item') {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: getCssVar('spacing', 'tight') getCssVar('spacing', 'base');
    overflow: hidden;
    font-size: getCssVar('font-size', 'regular');
    cursor: pointer;

    @include m('icon') {
      display: flex;
      align-items: center;
      height: auto;
      margin-right: getCssVar('spacing', 'tight');
      font-size: getCssVar('font-size', 'header-2');
    }

    &:hover {
      background: getCssVar('color', 'bg', 0);
      border-radius: getCssVar('border-radius', 'small');
    }
  }

  @include e('label') {
    padding: getCssVar('spacing', 'tight') getCssVar('spacing', 'base');
    font-size: getCssVar('font-size', 'small');
    color: getCssVar('color', 'text', 3);
    text-transform: uppercase;
  }
}
