@include b('emoji-category-label') {
  padding: getCssVar('spacing', 'tight') getCssVar('spacing', 'extra-tight');
  font-size: getCssVar('font-size', 'regular');
  color: getCssVar('color', 'text', 3);
  text-transform: uppercase;
}
