/***    START:系统样式表    ***/
    .drbar-ex-underline {
border-bottom: 1px solid lightgray;
}

/* drbar头部样式 */
.drbar-ex-underline .ibiz-control-toolbar__menu .ibiz-control-toolbar-submenu .el-sub-menu__title,
.drbar-ex-underline .ibiz-control-toolbar .ibiz-control-toolbar__item .el-button {
padding: 8px 0px;
}
.drbar-ex-underline .ibiz-control-toolbar__menu .ibiz-control-toolbar-submenu .el-sub-menu__title,
.drbar-ex-underline .ibiz-control-toolbar__item ~ .ibiz-control-toolbar__item .el-button {
margin-left: 4px;
}
.drbar-ex-underline .ibiz-panel-container--container {
padding-right: 4px;
}
.drbar-ex-underline .ibiz-control-toolbar__menu .ibiz-control-toolbar-submenu .el-sub-menu__title{
border: none;
}

/* 图标居中 */
.drbar-ex-underline .ibiz-control-toolbar__menu .ibiz-control-toolbar-submenu .el-sub-menu__title .el-icon,
.drbar-ex-underline .ibiz-control-toolbar__item .el-button .ibiz-icon {
margin: 0;
}
    .editview2-menu .ibiz-control-drbar__menu {
  padding: 8px 16px;
}
.editview2-menu .ibiz-control-drbar__menu .el-sub-menu__title {
  width: 100%;
  height: 48px;
  padding-left: 8px !important;
  pointer-events: none;
}
.editview2-menu .ibiz-control-drbar__menu .el-sub-menu__title > span {
  color: #888d91;
}
.editview2-menu
  .ibiz-control-drbar__menu
  .el-sub-menu__title
  .el-sub-menu__icon-arrow {
  display: none;
}
.editview2-menu .ibiz-control-drbar__menu .el-sub-menu__title:hover {
  background: 0 0;
}
.editview2-menu
  .ibiz-control-drbar__menu
  .ibiz-control-drbar__item.el-menu-item {
  height: 32px;
  padding: 0;
  padding-left: 24px;
  border-radius: 4px;
}
.editview2-menu
  .ibiz-control-drbar__menu
  .ibiz-control-drbar__item.el-menu-item:hover {
  background: #f4f5f5;
}
.editview2-menu
  .ibiz-control-drbar__menu
  .ibiz-control-drbar__item.el-menu-item.is-active {
  color: #557da5;
  background: #d9ecff;
}

    /* 表单分组标题 */
.main-info-common-view .ibiz-form-group--right_grouppanel .ibiz-form-group__caption {
  font-size: 16px;
  color: var(--ibiz-color-disabled-text);
}
/* 表单分页样式（padding、导航栏标题） */
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel {
  padding: 0 11px 0 13px;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel.el-tabs .el-tabs__item {
  font-size: 14px;
}
/* 两侧滚动条 */
.main-info-common-view .ibiz-control-form {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item {
  height: 100%;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item > .ibiz-col--grid {
  height: 100%;
  overflow: auto scroll;
}
.main-info-common-view .ibiz-control-form > .ibiz-form-page > .ibiz-form-page-item > .ibiz-col--grid > .ibiz-form-group {
  height: auto;
}

    /* 主信息编辑视图通用计数器样式 */
.main-info-common-view .ibiz-control-form > .ibiz-form-page .ibiz-form-tab-panel.el-tabs .el-tabs__item .ibiz-form-tab-panel__badge .el-badge__content {
  top: 50%;
}
    /* 表单标题 使用多行文本时 */
.main-info-common-view  .ibiz-form-item--title .ibiz-input.is-show-default.is-textarea .ibiz-input-input {
  font-size: var(--ibiz-font-size-header-3);
}
.main-info-common-view .ibiz-form-item--title .ibiz-input.is-show-default.is-textarea .ibiz-input-input .el-textarea__inner {
  line-height: var(--ibiz-editor-default-line-height);
}
.main-info-common-view .ibiz-form-item--title .ibiz-input.is-show-default.is-textarea {
  height: 100%;
  padding: 0;
}
.main-info-common-view .ibiz-form-item--title .ibiz-input.is-show-default.is-textarea .ibiz-input-form-default-content {
  padding-top: 5px;
  padding-bottom: 5px;
}
    .main-info-common-view .ibiz-form-item-container--top .ibiz-autocomplete--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-cascader--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-mpicker--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-picker--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-picker-dropdown.ibiz-picker-dropdown--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-picker-select-view--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-date-picker--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-date-range-picker--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-dropdown--readonly {
  padding: 0 11px;
}
    .main-info-common-view .ibiz-form-item-container--top .ibiz-number-range-picker--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-input-number--readonly {
  padding: 0 11px;
}
.main-info-common-view .ibiz-form-item-container--top .ibiz-input--readonly {
  padding: 0 11px;
}

    /* 表单标题 */
.main-info-common-view .ibiz-form-item--title .ibiz-input .el-input__wrapper .el-input__inner,
.main-info-common-view .ibiz-form-item--title .ibiz-input.is-show-default .ibiz-input-form-default-content {
  font-size: var(--ibiz-font-size-header-3);
  color: var(--ibiz-color-black);
}
.main-info-common-view .ibiz-form-item--title .ibiz-input {
  height: var(--ibiz-height-control-default);
}
.main-info-common-view .ibiz-form-item--title .ibiz-input .ibiz-input-input .el-input__wrapper .el-input__inner {
  min-height: calc(var(--ibiz-height-control-default) - 2px);
  height: calc(var(--ibiz-height-control-default) - 2px);
}
 /* 描述分组样式 */
.main-info-common-view .ibiz-form-group--description_container .ibiz-html .ibiz-html-custom-toolbar {
  transform: translateY(-100%);
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  top: -16px;
}
    /* 描述分组样式 */
.main-info-common-view .ibiz-form-group--description_container .ibiz-html-dialog-full-screen .ibiz-html .ibiz-html-custom-toolbar {
  transform: unset;
  position: unset;
}
.main-info-common-view .ibiz-form-group--description_container .ibiz-html .ibiz-form-item-container__label {
  line-height: 32px;
  margin: 0;
  padding-left: 10px;
}
.main-info-common-view .ibiz-form-group--description_container .ibiz-html .ibiz-html-custom-toolbar {
  position: absolute;
  transform: translateY(-100%);
}
.main-info-common-view .ibiz-form-group--description_container .ibiz-html .ibiz-html-content .ibiz-html-editor {
  height: auto !important;
}
.main-info-common-view .ibiz-form-group--description_container .ibiz-html .w-e-text-container {
  background: transparent;
}
    /* 左对齐 */
.main-info-common-view .ibiz-form-item-container--left .ibiz-form-item-container__label {
  text-align: left;
}
 /* 上下对齐 */
.main-info-common-view .ibiz-form-item-container--top .ibiz-form-item-container__label {
  padding: 0 11px;
}
    /* 折叠分组样式1 */
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group--group1 {
  position: relative;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group--grouppanel1 .ibiz-form-item--status {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group--grouppanel1 .ibiz-form-group--grouppanel2 {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 34px;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse > .ibiz-form-group-content > div:nth-child(1) {
  position: initial;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse.is-collapse > .ibiz-form-group-content {
  display: block;
}
    /* 折叠分组样式2 */
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse.is-collapse > .ibiz-form-group-content > .ibiz-form-group-content__row > div:nth-child(1) ~ div {
  display: none;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-repeater-grid.is-case-steps,
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-repeater-grid {
  padding: 0;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse > .ibiz-form-group-content {
  padding-top: 0;
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse > .ibiz-form-group-content > div {
  border-left: 1px solid var(--ibiz-form-group-header-border-color);
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse .ibiz-case-steps-table.ibiz-repeater-grid__table {
  border: none;
}

    /* 折叠分组样式3 */
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group-collapse > .ibiz-form-group-header {
  margin: 0 8px;
  padding-right: 8px;
  border: 1px solid var(--ibiz-form-group-header-border-color);
}
.main-info-common-view .ibiz-form-page-item--collapse_formpage .ibiz-form-group--grouppanel3 {
  border-right: 1px solid var(--ibiz-form-group-header-border-color);
  border-bottom: 1px solid var(--ibiz-form-group-header-border-color);
}
/* 评论容器取消发送按钮位置 */
.main-info-common-view .ibiz-panel-button--comment__cancel,
.main-info-common-view .ibiz-panel-button--comment__send {
  position: absolute;
  bottom: 0;
  width: auto;
  right: 0;
}
.main-info-common-view .ibiz-panel-button--comment__cancel {
  right: 76px;
}
    .main-info-common-view .ibiz-form-tab-panel--tabpanel_tags >.el-tabs__header .el-tabs__active-bar {
background-color: initial;
}
.main-info-common-view .ibiz-form-tab-panel--tabpanel_tags >.el-tabs__header .el-tabs__item {
padding: 0 10px;
}
.main-info-common-view .ibiz-form-tab-panel--tabpanel_tags >.el-tabs__header .el-tabs__item span {
background-color: #f5f5f5;
border-radius: 18px;
padding: 0 12px;
line-height: 24px;
}
.main-info-common-view .ibiz-form-tab-panel--tabpanel_tags >.el-tabs__header .el-tabs__item span:hover {
background-color: #e8e8e8;
}
.main-info-common-view .ibiz-form-tab-panel--tabpanel_tags >.el-tabs__header.is-top .el-tabs__item.is-top:hover {
color: var(--ibiz-form-tab-panel-text-color);
}
.main-info-common-view .ibiz-form-tab-panel--tabpanel_tags >.el-tabs__header .el-tabs__item.is-active span{
background-color: var(--ibiz-color-primary-active);
color: var(--ibiz-color-primary-active-text);
}
    .main-info-common-view .ibiz-grid-container--container_view_bottom > div {
height: 100%;
}
.main-info-common-view .ibiz-grid-container--container_view_bottom > div:nth-child(2) {
min-height: 48px;
}
.main-info-common-view .ibiz-single-data-container--container_attention>.el-row {
position: static;
}
.main-info-common-view .ibiz-single-data-container--container_attention .ibiz-attention {
width: calc(100% - 4px);
min-height: 48px;
padding-right: 32px;
position: absolute;
bottom: 0;
}
/* 时间范围宽度 */
.main-info-common-view .ibiz-date-range-picker {
max-width: 250px;
}

    .recentcustom_dashboard_view_style .ibiz-portlet-layout {
  --ibiz-portlet-layout-padding: var(--ibiz-spacing-extra-tight);
}
.recentcustom_dashboard_view_style .ibiz-portlet-layout > .ibiz-portlet-layout-header {
  border: 1px solid var(--ibiz-color-border);
  border-bottom: none;
}
.recentcustom_dashboard_view_style .ibiz-portlet-layout > .ibiz-portlet-layout-content {
  padding-bottom: var(--ibiz-spacing-tight);
  border: 1px solid var(--ibiz-color-border);
  border-top: none;
}

    .recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view > .ibiz-portlet-layout-content {
  padding: 0;
  overflow: hidden;
  border: none;
}
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .ibiz-panel-view-content--view_content {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .ibiz-panel-view-content--view_content::after,
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .el-calendar-table::after {
  right: 0;
}
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .el-calendar-table {
  position: relative;
}

    .recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .ibiz-panel-view-content--view_content::before,
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .ibiz-panel-view-content--view_content::after,
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .el-calendar-table::before,
.recentcustom_dashboard_view_style .ibiz-portlet-layout.ibiz-portlet-view--work_itemalendar_view .el-calendar-table::after {
  position: absolute;
  top: 0;
  width: 0;
  height: 102px;
  content: "";
  border-left: 1px solid var(--ibiz-color-border);
}
    .ibiz-grid-field-column__toolbar > .is-text.ibiz-action-toolbar__item:last-child >.el-icon{
  font-size: 16px;
}

/* 分组树更多图标 */
.ibiz-control-group-tree-node .ibiz-context-menu__item > .el-icon {
font-size: 16px;
}
    .relation_recent_style{
    line-height: normal;
}

/* 控制项标题文字过多导致的样式异常 */
.relation_recent_style .ibiz-panel-field--name .ibiz-panel-field-content{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    max-width: 1460px;
}
    .tab-exp-select{
    border-right: 1px solid #e9e9e9;
}
    .ibiz-panel-container--view_tabexppanel .el-tabs__item {
  height: 64px;
}
.ibiz-panel-container--view_tabexppanel .el-tabs__item .ibiz-control-drtab-label {
    font-size: 16px;
}
/* 分页导航视图padding */
.ibiz-view-detabexpview .ibiz-view-detabexpview .ibiz-panel-view-content--view_content {
  padding: 0;
}
.ibiz-view-detabexpview .ibiz-view-detabexpview .ibiz-view .ibiz-panel-view-content--view_content {
  padding: var(--ibiz-panel-view-content-padding);
}

    .recycle-bin .ibiz-form-group-header .ibiz-form-group-header__right {
	display: none;
}
.recycle-bin .ibiz-form-mdctrl .ibiz-grid-ua-column .ibiz-action-toolbar--dropdown {
	display: none;
}
    .big-icon {
  padding: 0;
}
.big-icon .el-button {
  font-size: 24px;
  padding: 8px;
}
.big-icon .el-button .ibiz-icon {
  max-width: 24px !important;
  max-height: 24px !important;
}
.big-icon .el-button .ibiz-panel-button-content--caption {
  display: none;
}
    .vertical-divider .ibiz-rawitem {
  border-left: 1px solid var(--ibiz-color-border);
  height: 1em;
}
.vertical-divider .el-divider {
  display: none;
}
    .ibiz-nav-pos > .ibiz-view-detreeexpview .ibiz-panel-ctrl-pos--treeexpbar_tree > .ibiz-control-treeview {
  padding-left: 0;
}

    .recentdata-custom>div>div>div:nth-child(2) {
flex: 1;
}
    /* 面板分页样式 */
.workload-tab-head .ibiz-panel-container--view_tabexppanel {
height: 1px;
}
.workload-tab-head .ibiz-panel-container--view_tabexppanel>div>div>.ibiz-panel-ctrl-pos--tabexppanel {
min-height: 64px;
max-height: 64px;
width: 58px;
height: 100%;
border: none;
display: flex;
justify-content: center;
align-items: center;
}
/* 分页弹出按钮样式 */
.workload-tab-head .ibiz-panel-container--view_tabexppanel>div .el-input__wrapper {
padding: 1px 0;
}
.workload-tab-head .ibiz-panel-container--view_tabexppanel>div .el-input__inner {
text-align: center;
}
.workload-tab-head .ibiz-nav-pos>div>div>div>div>.ibiz-panel-view-header--view_header>div>div>.ibiz-panel-container--view_header_right>div{
gap: 56px;
}
/* 搜索表单取消padding */
.workload-tab-head .ibiz-control-searchform {
padding: 0;
}
/* 分页搜索子视图左侧样式 */
.workload-tab-head .ibiz-nav-pos .ibiz-panel-container--view_header_left:nth-of-type(1){
padding-right: 16px;
width: auto;
height: 63px;
}
    /* 适配分页搜索下级视图自适应宽度 */
.workload-tab-head .ibiz-nav-pos .ibiz-panel-view-header--view_header>div>div:nth-child(1),
.workload-tab-head .ibiz-nav-pos .ibiz-panel-container--view_header_right>div>div:nth-child(1) {
width: 100%;
}
/* 搜索表单宽度 继承父元素宽度，当分页部件定位后窗口缩放实现自适应效果 */
.workload-tab-head .ibiz-nav-pos .ibiz-panel-container--view_searchform:nth-of-type(1) {
width: 16.65%;
}
    /* 关系分页部件定位样式 */
.workload-tab-head .ibiz-panel-container--view_tabexppanel {
position: relative;
}
.workload-tab-head .ibiz-panel-container--view_tabexppanel>div>div>.ibiz-panel-ctrl-pos--tabexppanel {
position: absolute;
top: 1px;
left: calc(16.65% + 15px);
z-index: 100;
}
/* 视图头部定位 */
.workload-tab-head .ibiz-nav-pos .ibiz-panel-view-header--view_header {
position: relative;
}
.workload-tab-head .ibiz-nav-pos .ibiz-panel-container--view_header_left:nth-of-type(1){
position: absolute;
top: 0;
right: 0;
}
.workload-tab-head .ibiz-nav-pos .ibiz-panel-container--view_header_right:nth-of-type(1) {
position: absolute;
left: 0;
}
/* 视图头部快速搜索定位 */
.workload-tab-head .ibiz-nav-pos .ibiz-panel-container--view_header_right .ibiz-panel-ctrl-pos--searchbar:nth-of-type(1) {
width: auto;
position: absolute;
top: 0;
left: calc(16.65% + 68px);
}
    .workloadlog-searchform-border {
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--ibiz-color-border);
  padding-bottom: 7px;
}
    .todo-tips{
    height: 80px;
}
.todo-tips .ibiz-rawitem__text{
    font-size: 26px;
    font-weight: 600;
    line-height: 75px;
}
    .todo-background{
    
}
    .run_history_remark_style{
    border-right: 1px solid var(--ibiz-form-group-header-border-color);
    border-bottom: 1px solid var(--ibiz-form-group-header-border-color);
}
    /* 移入移出效果 */
.ibiz-form-button--style2 .el-button,
.ibiz-panel-button--style2 .el-button {
min-height: var(--ibiz-height-control-default);
min-width: var(--ibiz-height-control-default);
background: transparent;
border: none;
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-6);
padding: 8px;
}
.ibiz-form-button--style2 .el-button:hover,
.ibiz-panel-button--style2 .el-button:hover {
background-color: var(--ibiz-color-primary-light-default);
color: var(--ibiz-color-primary);
}

.ibiz-form-button--style2 .el-button.el-button {
width: var(--ibiz-height-control-default) ;
}

/* 按钮间隔 */
.ibiz-form-button--style2.ibiz-form-button--style2,
.ibiz-panel-button--style2.ibiz-panel-button--style2 {
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-super-tight);
}
    /* 星标及切换背景颜色 */
.star_css .ibiz-control-toolbar__menu .ibiz-control-toolbar-submenu .el-sub-menu__title:hover,
.star_css button:hover {
background-color: transparent;
}
/* 星标及切换背景颜色 */
.star_css .ibiz-control-toolbar__menu .ibiz-control-toolbar-submenu .el-sub-menu__title,
.star_css button{
background-color: transparent;
}

/* 星标字体颜色 */
.star_css .ibiz-control-toolbar__item-items i{
color: #9999;
font-size: 18px;
}

/* 切换图标字体颜色 */
.star_css .el-sub-menu__title i {
color: #9999;
}
    .update_log_time .ibiz-span{
    margin: 7px 0px 0px 0px;
    }
    .update_log_name .ibiz-span{
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0px 15px 0px;
}
    @media screen and (min-width: 820px) and (max-width: 980px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(1)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 980px) and (max-width: 1150px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(2)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 1150px) and (max-width: 1320px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(3)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 1320px) and (max-width: 1480px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(4)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
    @media screen and (min-width: 1480px) and (max-width: 1600px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(5)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(6)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 1800px) and (max-width: 1970px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(7)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 1970px) and (max-width: 2130px) {
.recentdata-screen-auto-item {
.ibiz-control-dataview-scroll-item:nth-child(8)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
}
    @media screen and (min-width: 2130px) and (max-width: 2290px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(9)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}
@media screen and (min-width: 2290px) {
.recentdata-screen-auto-item
.ibiz-control-dataview-scroll-item:nth-child(10)
~ .ibiz-control-dataview-scroll-item {
display: none;
}
}

.recentdata-screen-auto-item .ibiz-control-dataview-scroll.ibiz-control-dataview__content {
flex-wrap: nowrap;
overflow: visible;
}
    .recent_owner_subtype_style{
    width: 20px;
    overflow: hidden;
}
    .recent_grey_font_style .ibiz-panel-field-content{
    color: #a6a6a6;
}
    .td_right{
    width: 90%;
}
    .td_a_link .ibiz-grid-field-column__text {
    color: var(--ibiz-grid-field-column-clickable-text-color);
}
    .recent_identified_style .ibiz-grid-field-column__text{
    color: #8b8b8b;
}
    .td_a_link_right{
      padding:0px 28px 0px 0px
    }
    .td_a_link_right .ibiz-grid-field-column__text {
    color: var(--ibiz-grid-field-column-clickable-text-color);
}
    .recenttab-head
.ibiz-panel-view-header--view_header
.ibiz-panel-container
> .ibiz-row {
position: initial;
overflow: initial;
}
    .ibiz-modal .el-dialog__header .el-dialog__headerbtn{
    top: -32px;
    right: -50px;
}
    .orange-span{
    width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffdcaf;
    vertical-align: inherit;
}
    .transition-time .ibiz-span{
  font-size: var(--ibiz-font-size-small);
  color: var(--ibiz-color-disabled-text);
}
    .grey-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #e1e1e1;
    vertical-align: inherit;
}
    /* 视图大的布局样式 */
.user-info-view-content {
box-shadow: rgba(0, 0, 0, 0.08) 0px 0px var(--ibiz-spacing-base) 0px;
border-radius: var(--ibiz-border-radius-medium);
overflow: hidden;
padding-bottom: var(--ibiz-spacing-base);
}
/* 按钮样式 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button {
max-height: 40px;
margin: 0;
padding: 0;
}
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button .el-button {
min-height: 40px;
padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-extra-loose);
text-align: left;
justify-content: flex-start;
}
/* 按钮内字体样式 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button .ibiz-icon {
color: var(--ibiz-color-text-3);
font-size: var(--ibiz-font-size-header-5);
min-width: 18px;
line-height: 18px;
}

    /* 按钮内字体样式 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-panel-button .ibiz-panel-button-content {
color: var(--ibiz-color-text-0);
align-items: center;
}
.user-info-view-content .ibiz-panel-container--user_info_content .el-button .ibiz-panel-button-content .ibiz-icon+.ibiz-panel-button-content--caption {
margin-left: var(--ibiz-spacing-tight);
}
.user-info-view-content .ibiz-panel-container--user_info_content>div>div:nth-last-child(1) .ibiz-panel-button-content,
.user-info-view-content .ibiz-panel-container--user_info_content>div>div:nth-last-child(1) .ibiz-panel-button-content .ibiz-icon {
color: var(--ibiz-color-primary);
}
/* 分割线 */
.user-info-view-content .ibiz-panel-container--user_info_content .ibiz-rawitem .el-divider.el-divider--horizontal {
width: calc(100% - 64px);
text-align: center;
margin: var(--ibiz-spacing-extra-tight) auto;
}
    
/* 头部样式 */
/* 图片背景 */
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-panel-rawitem--static_image .ibiz-rawitem__image {
background: #ccf;
}
/* 头像定位 */
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar {
position: relative;
}
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--user_name {
width: auto;
height: auto;
position: absolute;
top: -4px;
left: 50%;
transform: translate(-50%, -50%);
}
/* 头像大小 使用的人员信息插件 */
.user-info-view-content .ibiz-panel-container--user_info_header .ibiz-single-data-container--user_info_avatar .ibiz-personnel-info-content {
width: 68px;
height: 68px;
border: 4px solid #fff;
border-radius:  var(--ibiz-border-radius-circle);
}
    /* 头像大小 使用的人员信息插件 */
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-personnel-info-content__head-sculpture {
flex: 1;
width: 60px;
height: 60px;
font-size: var(--ibiz-font-size-header-5);
}
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-personnel-info-content__tip {
display: none;
}
/* 视图头部登录者信息样式 */
.user-info-view-content .ibiz-single-data-container--user_info_avatar {
padding-top: 50px;
padding-bottom: 28px;
text-align: center;
}
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--field_text_dynamic .ibiz-span  {
font-weight: 400;
font-size: var(--ibiz-font-size-header-5);
}
.user-info-view-content .ibiz-single-data-container--user_info_avatar .ibiz-panel-field--field_text_dynamic1 .ibiz-span {
margin-top: 10px;
font-size: var(--ibiz-font-size-small);
color: var(--ibiz-color-text-3);
}
    .ibiz-internal-message-html__content {
    padding-right: 24px;
}
    .kanban-identifier .ibiz-span{
    margin: 5px 0px 0px 0px;
    padding: 2px 6px 2px 6px;
    background: #e8e8e8;
    border-radius: 5px;
    color: #6c6c6c;
}
    .kanban-finished .ibiz-span {
    color: #aaa;
    text-decoration: line-through;
}
    .kanban-delay {
  color: #ff7575;
  background-color: #fff1f1 !important;
}
.kanban-delay .ibiz-rawitem__image {
  color: #ff7575;
}
    .kanban-time {
  height: 24px;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  overflow: hidden;
  line-height: 12px;
  background: #e9e9e9;
  border-radius: 10px;
}

    .kanban-more-button{
    position: relative;
    width: 40px;
    margin: -8px 0px 0px -2px;
    height: 40px;
    visibility: hidden;
}
.el-card__body:hover .kanban-more-button {
    visibility: visible;
}
    .kanban-title .ibiz-span{
    padding: 10px 2px 10px 2px;
    font-size: 16px;
    font-weight: 600;
}
    .kanban-state {
  width: 80px;
  height: 24px;
  margin: 0 5px 5px 0;
}
.kanban-state .ibiz-code-list__item {
  --ibiz-code-list-item-color: #aaaaaa;
  justify-content: center;
  width: 80px;
  line-height: 24px;
  color: #fff;
  background-color: var(--ibiz-code-list-item-color);
  border-radius: 10px;
}

    .kanban-kind-icon {
  height: auto;
  margin: 5px 0 0;
  line-height: 24px;
}
.kanban-kind-icon .ibiz-code-list__item {
  font-size: 0;
}

    .kanban-assignee{
    margin: 0px 0px 0px 30px;
}

.kanban-assignee .ibiz-personnel-info-content__tip{
content-visibility: hidden;
}
    .wiki-page-title .ibiz-span{
    font-weight: 600;
    font-size: var(--ibiz-font-size-header-2);
    color: var(--ibiz-color-black); 
}    

    /* 评论容器取消发送按钮位置 */
.space-page-view .ibiz-panel-container--container_comment{
    position: relative;
}
.space-page-view .ibiz-panel-button--comment__cancel,
.space-page-view .ibiz-panel-button--comment__send {
  position: absolute;
  bottom: 0;
  width: auto;
  right: 14px;
}
.space-page-view .ibiz-panel-button--comment__cancel {
  right: 90px;
}
.space-page-view .ibiz-control-form {
    height: 100%;
    overflow: auto;
}
.space-page-view .ibiz-control-form img {
    max-width: 100%;
}
    .space-page-view .ibiz-control-toolbar .ibiz-control-toolbar__item:not(:first-child) button {
	color: var(--ibiz-color-text-3);
	background-color: transparent;
    padding: 8px;
}
.space-page-view .ibiz-control-toolbar .ibiz-control-toolbar__item:not(:first-child) button:hover {
	color: var(--ibiz-color-primary);
	background-color: var(--ibiz-color-primary-light-default);
}
.space-page-view .ibiz-control-toolbar .ibiz-control-toolbar__item:first-child button {
	color: var(--ibiz-color-primary);
	background-color: var(--ibiz-color-primary-light-default);
}
.space-page-view .ibiz-control-toolbar .ibiz-control-toolbar__item:first-child button:hover {
	color: var(--ibiz-color-primary-hover);
	background-color: var(--ibiz-color-primary-light-hover);
}
    .purple-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #d2d8ed;
    vertical-align: inherit;
}
    .red-span{
   width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fcd0cb;
    vertical-align: inherit;
}

 

    .green-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ccf2cc;
    vertical-align: inherit;
}
    .blue-span{
width: 58px;
    height: 24px;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #c8e8fa;
    vertical-align: inherit;
}
    /* 表单分组标题 */
.ibiz-form-group__caption{
    font-size: var(--ibiz-form-item-container-font-size);
    font-weight: var(--ibiz-form-group-caption-font-regular);
    color: var(--ibiz-form-item-container-label-color);
}
    /* 表格头全局样式 */
body .ibiz-control-grid {
--ibiz-control-grid-header-height: 54px; /* 重新赋值 */
}
/* 适配增加的高度，使表格头垂直居中 */
body .ibiz-control-grid__table .el-table__header-wrapper .cell {
padding-top: 16px;
padding-bottom: 16px;
}
    .normal-rich-text *{
   font-style: normal !important;
    text-decoration: none !important;
    color: rgb(85, 91, 97) !important;
    background-color: transparent !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: left !important;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    word-break: break-all;
}
    .ibiz-panel-view-content {
    --ibiz-panel-view-content-padding: var(--ibiz-spacing-tight) var(--ibiz-spacing-tight) 0 var(--ibiz-spacing-tight);
}
    /* 全局 计数器 样式 */
.ibiz-badge.ibiz-badge {
min-width: 16px;
text-align: center;
font-size: var(--ibiz-font-size-small);
padding: 0 var(--ibiz-spacing-extra-tight);
background-color: var(--ibiz-color-primary-light-default);
color: var(--ibiz-color-primary);
}
/* 表单分页计数器 */
.ibiz-form-tab-panel .el-tabs__item .ibiz-form-tab-panel__badge {
  padding-right: var(--ibiz-spacing-base-loose);
  position: relative;
}
.ibiz-form-tab-panel .el-tabs__item .ibiz-form-tab-panel__badge .el-badge__content {
  color: var(--ibiz-color-text-3);
  background-color: var(--ibiz-color-fill-0);
  padding: 0 var(--ibiz-spacing-extra-tight);
  top: calc(50% - 2px);
  font-size: var(--ibiz-font-size-small);
  right: var(--ibiz-font-size-header-6);
}
.ibiz-form-tab-panel .el-tabs__item:hover .ibiz-form-tab-panel__badge .el-badge__content {
  color: var(--ibiz-color-primary);
  background-color: var(--ibiz-color-primary-light-default);
}

    .comment-list-height-auto .ibiz-no-data {
  padding: 0;
  --el-empty-image-width: 64px;
  --el-empty-description-margin-top: 6px;
}
.comment-list-height-auto img {
  max-width: 100%;
}
/* 流转空数据 */
.comment-list-height-auto .ibiz-transition-time-line-timeline-content .ibiz-no-data {
  margin-top: -8px;
}
    .comment-replay {
	padding: 0 12px;
	background-color: #fafafa;
}
.comment-replay .ibiz-rawitem,
.comment-replay .ibiz-code-list__item,
.comment-replay .ibiz-panel-item-render--pcontent {
    color: #999;
}
.comment-replay .ibiz-panel-item-render--pcontent {
    display: flex;
}
.comment-replay .ibiz-panel-item-render--pcontent p {
	margin: 8px 0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .comment_icon .ibiz-rawitem{
    font-size:24px;
    opacity:0.5;
    padding:8px 0;
}
    .comment-tag{
    padding: 3px 7px; 
    background-color: var(--ibiz-color-fill-0); 
    color: var(--ibiz-editor-default-text-color); 
    border-radius: 14px; 
    cursor: pointer; 
    white-space: nowrap;
}
.comment-tag svg {
    height: 1em;
    width: 1em;
    line-height: 40px;
}
    .ibiz-view-depickuptreeview .el-tree-node__content .el-checkbox.is-disabled {
	display: none;
}
    /* 背景定位 */
.index-recentdata-custom .recentdata-screen-auto-item .ibiz-control-dataview-item {
position: relative;
}
.index-recentdata-custom .recentdata-screen-auto-item .ibiz-control-dataview-item::after{
content: '';
display: inline-block;
width: 100%;
height: 36px;
position: absolute;
top: 0;
left: 0;
z-index: 6;
background-color: var(--ibiz-color-disabled-fill);
}
.index-recentdata-custom .recentdata-screen-auto-item .el-card__body {
position: relative;
z-index: 10;
}
/* 字体样式 */
.index-recentdata-custom .recentdata-screen-auto-item .el-card__body .ibiz-span {
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.index-recentdata-custom .recentdata-screen-auto-item .ibiz-panel-container--container1 > div > div:nth-child(2) .ibiz-span {
font-size: var(--ibiz-font-size-header-5);
color: var(--ibiz-color-black);
}
    .index-recentdata-custom .recentdata-screen-auto-item .ibiz-panel-container--container1 > div > div:nth-child(3) .ibiz-span {
color: var(--ibiz-color-text-3);
}
/* 设置边距 */
.index-recentdata-custom .recentdata-screen-auto-item .ibiz-panel-container--container1 > div > div:nth-child(2)  {
margin-top: var(--ibiz-spacing-base);
}
.index-recentdata-custom .recentdata-screen-auto-item .el-card__body {
padding-top: 22px;
padding-bottom: 0px;
}
/***    END:系统样式表    ***/