@include b('clip-board-button') {
  cursor: pointer;
  @include e('copy') {
    display: inline-block;
    font-size: getCssVar('font-size', 'header-5');
  }
  .#{bem(clip-board-button__after-copy)},
  .#{bem(clip-board-button__before-copy)} {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1em;
    padding: getCssVar('spacing', 'extra-tight') getCssVar('spacing', 'none');
    border-radius: calc(var(--ibiz-border-radius-small) - 1px);
  }
  .#{bem(clip-board-button__after-copy)} {
    &:hover {
      background-color: getCssVar(color, fill, 0);
    }
  }

  svg {
    fill: getCssVar(color, primary);
  }
}
