@include b('identifier-title') {
  padding: 0 16px;

  @include b('identifier-title-caption') {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-left: var(--ibiz-spacing-base);
    overflow: hidden;
    font-size: var(--ibiz-font-size-header-5);
    font-weight: var(--ibiz-font-weight-regular);
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 4px;
      height: 20px;
      content: '';
      background-color: var(--ibiz-color-primary);
      border-radius: 2px;
      transform: translateY(-50%);
    }
  }

  @include b('identifier-title-copy') {
    display: flex;
    gap: 8px;
    margin-left: 16px;
    visibility: visible;

    @include e('copy-id') {
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #6698ff;
      }
    }

    @include e('copy-url') {
      display: inline-block;
      cursor: pointer;

      &:hover {
        color: #6698ff;
      }
    }

  }

  &:hover {
    @include b('identifier-title-copy') {
      visibility: visible;
    }
  }
}