/* stylelint-disable selector-class-pattern */
@include b(tree-grid-ex-field-edit-column) {
  .#{bem('tree-grid-ex-field-column-text-container')} {
    width: auto;
    min-width: 0;
  }
  .#{bem('tree-grid-ex-field-column-toolbar-container')} {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    opacity: 0;
  }

  .el-button {
    .ibiz-icon {
      font-size: 16px;
    }
  }

  .hover-action {
    padding: 4px 0;
    margin-right: 7px;
    font-size: 16px;

    svg {
      fill: var(--ibiz-color-primary);
    }
  }
  @include when(editable) {
    height: calc(100% - 2px);
    padding: 0;
    border: 1px solid var(--ibiz-color-primary);
    .#{bem('grid-edit-item','tooltip')} {
      padding: 0;
    }

    .el-input__wrapper,
    .el-input__wrapper:hover,
    .el-input__wrapper:focus {
      box-shadow: none
    }
  }
}

.xg-table-row:hover,
.el-table__row:hover {
  @include b(tree-grid-ex-field-edit-column) {
    .#{bem('tree-grid-ex-field-column-toolbar-container')} {
      opacity: 1;
    }
  }
}
