@include b(mob-marker-item) {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 8px;
    padding: 4px 12px;
    line-height: 28px;
    cursor: pointer;
    @include e(type) {
        flex: none;
        width: 28px;
        overflow: hidden;
        white-space: nowrap;
    }
    @include e(identifier) {
        flex: none;
    }
    @include e(name) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}