@include b(checkbox-grid) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include e(content) {
    height: calc(100% - 50px);
    padding: 0 20px;

    .el-checkbox-group {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      height: 100%;
      overflow: auto;
    }
    @include m(item) {
      display: block;
      width: 200px;
      overflow: hidden;
      line-height: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
