/* stylelint-disable selector-class-pattern */
$mob-personal-picker-tree: ('text-color': getCssVar('color', 'text'),
  'hover-bg-color': getCssVar('color', 'primary'),
  'active-bg-color': getCssVar('color', 'primary', 'light', 'default'),
  'active-color': getCssVar('color', 'primary'),
  'padding': rem(18px),
  'bg-color': getCssVar('color', 'bg', 2),
  'group-padding-left': rem(16px),
  'node-padding-left': rem(18px),
  'no-children-padding': rem(34px),
  'icon-font-size': rem(24px)
);

@include b(mob-personal-picker-tree) {
  @include set-component-css-var('mob-personal-picker-tree', $mob-personal-picker-tree);

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: getCssVar('spacing', 'tight') getCssVar('mob-personal-picker-tree', 'padding');
  font-size: getCssVar('font-size', 'header-6');
  background: getCssVar('mob-personal-picker-tree', 'bg-color');

  // 树
  @include e('tree') {
    flex: 1;
    height: 100%;
    overflow: hidden auto;
    .#{bem(mob-personal-picker-tree__group--title)}.is-no-children {
      padding-left: getCssVar('mob-personal-picker-tree', 'no-children-padding');
    }
  }

  // 分组
  @include e('group') {
    @include m('title') {
      display: flex;
      align-items: center;
      .#{bem(mob-personal-picker-tree__node-item--icon)} {
        width: getCssVar('mob-personal-picker-tree', 'icon-font-size');
        height: getCssVar('mob-personal-picker-tree', 'icon-font-size');

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    @include m('content') {
      padding-left: getCssVar('mob-personal-picker-tree', 'group-padding-left');
      & > .#{bem(mob-personal-picker-tree__node)}{
        padding-left: getCssVar('mob-personal-picker-tree', 'node-padding-left');
      }
    }
  }

  // 节点
  @include e('node') {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include when('check') {
      svg {
        fill: getCssVar('mob-personal-picker-tree', 'active-color');;
      }
    }
  }

  // 节点项
  @include e('node-item') {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: getCssVar('height-control', 'default');
    padding: getCssVar('spacing', 'tight') 0;
    overflow: hidden;
    line-height: getCssVar('height-control', 'default');

    @include m('icon') {
      display: flex;
      align-items: center;
      margin-right: getCssVar('font-size', 'small');
      font-size: getCssVar('mob-personal-picker-tree', 'icon-font-size');
      .#{bem(custom-avatar__default-avatar)} {
        font-size: getCssVar('font-size', 'small');
      }
      .#{bem(icon)} {
        display: flex;
        align-items: center;
      }
    }
    @include m('text') {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // 展开
  @include e('expand') {
    display: flex;
    align-items: center;
    padding-right: getCssVar('mob-personal-picker-tree', 'group-padding-left');
    font-size: getCssVar('font-size', 'header-4');
  }

  .van-tab {
      flex: none;
      max-height: getCssVar('height-control', 'default');
      padding: 0 getCssVar('width-icon', 'large');
      border-radius: getCssVar('height-control', 'default');

      &.van-tab--active {
        font-weight: getCssVar('font-weight', 'regular');
        color: getCssVar('mob-personal-picker-tree', 'active-color');
        background-color: getCssVar('mob-personal-picker-tree', 'active-bg-color');
      }
  }

  .van-tabs__nav > .van-tabs__line{
    display: none;
  }

  .van-tabs__wrap {
    min-height: var(--van-tabs-line-height);

    .van-tabs__nav--line {
      padding-bottom: 0;
    }
  }

  .van-tabs__content {
    height: 100%;
    overflow: hidden auto;
  }

  .van-tab__panel {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@include b('mob-personal-picker-tree-content') {
  width: 100%;
  height: 100%;
}

@include b('mob-personal-picker-tree-quick-search') {
  padding-right: 0;
  padding-left: 0;
}


@include b('mob-personal-picker-tree-container'){
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@include b('mob-personal-picker-tree-select-total'){
  position: absolute;
  top: getCssVar(spacing,base-tight);
  right:getCssVar(spacing,base);
  z-index: 10;
  margin-top: 2px;
  font-size: 0.875rem;
  color: var(--van-tab-text-color);
  background-color: var(--ibiz-color-bg-1);
}
