@include b(show-mode-toolbar-item) {
  margin: getCssVar('spacing', 'none');
  margin-left: calc(
    getCssVar('spacing', 'extra-tight') - getCssVar('spacing', 'tight')
  );
}

@include b(show-mode-toolbar-item-content) {
  display: flex;
  align-items: center;
  width: 100%;
}

@include b(show-mode-toolbar-item-item) {
  z-index: 1;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  min-width: 0;
  height: getCssVar('height-control', 'default');
  overflow: hidden;
  font-size: getCssVar('font-size', 'regular');
  line-height: getCssVar('height-control', 'default');
  color: getCssVar(color, text, 3);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-radius: getCssVar(border, radius, small);
  transition: all 0.3s;

  @include e(icon) {
    width: getCssVar('spacing', 'extra-loose');
    font-size: getCssVar('font-size', 'regular');
  }

  &:not(:last-child) {
    margin-right: getCssVar('spacing', 'extra-tight');
  }

  &:hover {
    background: getCssVar(color, bg, 0);
  }

  @include when(active) {
    color: getCssVar(color, primary);
    background-color: getCssVar(color, primary, light, default);
  }
}
