@include b('emoji-select') {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: rem(358px);
  padding-bottom: getCssVar('spacing', 'tight');
  overflow: hidden;
  font-size: getCssVar('font-size', 'regular');
  user-select: none;

  @media screen and (width <=rem(358px)) {
    width: 100%;
  }
}
