@include b(audio) {
  width: 100%;
  height: 90px;
  border: 1px solid getCssVar('color', 'border');

  @include e(content){
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  @include e('left') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    &.#{bem(audio__left)} {
      margin-right: getCssVar('spacing', 'base-loose');

      .icon {
        font-size: getCssVar('font-size', 'header-4');
        fill: getCssVar('color', 'text', 2);
      }

      .audio-icon {
        font-size: rem(38px);
      }
    }
  }

  @include e('play') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid getCssVar('color', 'border');
    border-radius: 50%;

    @include when('active') {
      border-color: getCssVar('color', 'primary');

      .icon {
        fill: getCssVar('color', 'primary');
      }
    }
  }

  @include e('wrapper') {
    flex: 1;

    @include m('top') {
      line-height: 1.5;
    }

    @include m('file-size') {
      &.#{bem(audio__wrapper--file-size)} {
        margin-left: getCssVar('spacing', 'base-loose');
      }
    }

    @include m('time-bar') {
      display: flex;
      align-items: center;

      .el-slider__runway {
        --el-slider-disabled-color: var(--ibiz-color-primary);
        --el-slider-height: 5px;

        .el-slider__button-wrapper {
          display: none;
        }
      }
    }

    @include m('slider') {
      flex: 1;

      &.#{bem(audio__wrapper--slider)} {
        margin: 0 getCssVar('spacing', 'loose');
      }
    }
  }

  &.#{bem(audio)} {
    padding: 0 getCssVar('spacing', 'loose');
  }
}

// 修复独占一行元素焦点获取焦点异常
@include b('audio') {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    display: block;
    width: 12px;
    height: 100%;
    content: '';
  }

  &::after {
    left: -12px;
  }

  &::before {
    right: -12px;
  }
}

.w-e-text-container {
  .#{bem(audio)} {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      display: block;
      width: 12px;
      height: 100%;
      content: '';
    }

    &::after {
      left: -12px;
    }

    &::before {
      right: -12px;
    }
  }
}

audio-elem {
  display: inline-block;
  width: calc(100% - 2px);
}
