@include b(gantt-column) {
  > .cell {
    padding: 4px 8px !important;
  }
  @include e(header) {
    .time.is-today {
      color: rgb(getCssVar(orange, 6));
    }
  }
  @include e(default) {
    width: 100%;
  }

  .time {
    text-align: center;
  }
}
