@include b(gantt-column) {
  @include e(header) {
    .time.is-today {
      color: rgb(getCssVar(orange, 6));
    }
  }
  @include e(default) {
    width: 100%;
  }
  .time {
    text-align: center;
  }
  .is-clickable {
    .duration {
      color: var(--ibiz-color-primary);
      &:hover {
        color: var(--ibiz-color-primary-hover);
      }
    }
  }
}
