@mixin reserve-seat-style {
  display: inline-block;
  min-width: getCssVar('spacing', 'base');
  height: 100%;
  min-height: getCssVar('spacing', 'base');
  margin: 0 getCssVar('spacing', 'base-tight');
  content: '';
}

@include b(mob-tree-view-ex) {
  // 树
  @include e('tree') {
    @include when(reserve-seat) {
      &>.#{bem(mob-tree-view-ex__node)}::before {
        @include reserve-seat-style;
      }
    }
  }

  // 分组
  @include e('group') {
    @include m('title') {
      display: flex;
      align-items: center;
    }
    @include m('content') {
      padding-left: getCssVar('spacing', 'base-tight');
      &>.#{bem(mob-tree-view-ex__node)}{
        &::before {
          @include reserve-seat-style;
        }
      }
    }
  }

  // 节点
  @include e('node') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // 节点项
  @include e('node-item') {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: getCssVar('height-control', 'default');
    padding: getCssVar('spacing', 'tight') 0;
    padding-left: getCssVar('spacing', 'base-tight');;
    overflow: hidden;
    font-size: getCssVar('font-size', 'header-6');
    line-height: getCssVar('height-control', 'default');
    border-bottom: 1px solid getCssVar('color', 'border');
    @include m('icon') {
      margin-right: getCssVar('spacing', 'base-tight');
    }
    @include m('text') {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include when('check') {
      .#{bem(mob-tree-view-ex__node-item--check-icon)}{
        position: absolute;
        right: getCssVar('spacing', 'base');
        display: flex;
        align-items: center;

        svg {
          fill: getCssVar('color', 'primary');
        }
      }
    }
  }

  // 展开
  @include e('expand') {
    display: flex;
    align-items: center;
    margin: 0 getCssVar('spacing', 'base-tight');
  }
}

@include b('mob-tree-view-ex-content') {
  width: 100%;
  height: 100%;
}

@include b('mob-tree-view-ex-quick-search') {
  &.van-search {
    border-bottom: 1px solid getCssVar('color', 'border');
  }
}
