/* stylelint-disable selector-class-pattern */
$team-picker: ('input-height':36px);

@include b('team-picker') {
  @include set-component-css-var('team-picker', $team-picker);

  width: 100%;
  @include e('select') {
    position: relative;
    width: 100%;
    @include m('input') {
      display: flex;
      align-items: center;
      width: 100%;
      height: getCssVar('team-picker','input-height');
    }
    @include m('input-content'){
      flex: 1;

      .ibiz-team-picker__item{
        padding: 0;

        &:hover{
          background-color: unset;
        }
      }
    }
    @include m('input-icon'){
      flex: 0;
    }
    @include m('list') {
      max-height: 288px;
      overflow-y: auto;
    }
  }
  @include e('item') {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 32px;
    cursor: pointer;

    &:hover{
      background-color: var(--ibiz-color-fill-0);
    }
    @include m('org-icon') {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      color: var(--ibiz-color-primary);
    }
    @include m('team-icon') {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      color: var(--ibiz-color-primary);
    }
    @include m('text-icon') {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 24px;
      min-width: 24px;
      height: 24px;
      margin-right: 10px;
      overflow: hidden;
      font-size: 12px;
      color: white;
      border: 0.5px solid lightgray;
      border-radius: 50%;
    }
    @include m('img-avatar') {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include m('content') {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @include m('type') {
      color: #9f9f9f;
    }
    @include m('type-divide') {
      margin: 0 10px;
      color: #9f9f9f;
    }
    @include m('readonly'){
      .ibiz-team-picker__item{
        padding: 0;
  
        &:hover{
          cursor: unset;
          background-color: unset;
        }
      }
    }
  }

}

@include b('team-picker-picker-pop'){
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: getCssVar(spacing,base-tight) getCssVar(spacing,base);
  overflow: hidden;
  @include e('header'){
    flex-shrink: 0;
    padding: getCssVar(spacing,tight) 0 ;
    color:getCssVar(color,text,3);

    .van-icon-cross{
      margin-right: getCssVar(spacing,base,tight);
    }
  }
  @include e('search'){
    flex-shrink: 0;
    padding: getCssVar(spacing,extra-tight) 0;
    overflow: hidden;
    border-radius: getCssVar(border-radius,medium);

    .van-field{
      --van-field-icon-size: #{getCssVar(font-soze,heaader-5)};
      --van-cell-background:#{getCssVar(color,fill,3)};

      .van-field__left-icon{
        display: flex;
        align-items: center;
        padding: 0 4px;
      }

      .van-field__control{
        &::placeholder{
          font-size: getCssVar(font-size,small);
          color: getCssVar(color,text,3);
        }
      }
    }
    
  }
  @include e('list'){
    flex: 1;
    overflow: auto;
    @include m('item'){
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: getCssVar(spacing,extra-tight);
      border-bottom: 1px solid getCssVar(color,border);
    }
    @include m('selected'){
      font-size: 18px;
      font-weight: bold;
      color: getCssVar(color,primary);
    }
  }
}
