@include b('emoji-categories') {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: getCssVar('height-control', 'default');
  padding: 0 getCssVar('spacing', 'base-loose');
  overflow-x: auto;
  background-color: getCssVar('color', 'bg', 0);

  @include e('category') {
    display: flex;
    align-items: center;
    min-width: getCssVar('font-size', 'header-6');
    height: 100%;
    font-size: getCssVar('font-size', 'header-6');
    cursor: pointer;

    @include m('svg') {
      line-height: getCssVar('font-size', 'header-6');

      svg {
        fill: getCssVar('color', 'text', 3);
      }
    }

    &:hover,
    &.is-active {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        content: '';
        border-top: rem(2px) solid getCssVar('color', 'primary');
      }
    }

    &:hover {
      color: getCssVar('color', 'primary');

      svg {
        fill: getCssVar('color', 'primary');
      }
    }
  }
}
