@include b('emoji-item') {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: getCssVar('spacing', 'tight');
  overflow: hidden;
  cursor: pointer;

  &.is-border:hover {
    background: getCssVar('color', 'bg', 0);
    border-radius: getCssVar('border-radius', 'small');
  }
}
