/* stylelint-disable selector-class-pattern */
$control-chart: ();

@include b(control-chart) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100% !important;

  @include b('chart-grid') {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include e('chart') {
      flex: 1;
      width: 100%;
      height: 50%;
      min-height: 50%;

      @include when('no-data') {
        display: none;
      }
    }

    @include e('empty') {
      display: none;
      flex: 1;

      @include when('no-data') {
        display: flex;
        height: 50%;
        min-height: 50%;
      }
    }

    @include e('grid') {
      flex: 1;
      height: 50%;
      max-height: 50%;
      padding: 10px;

      .cell {
        text-overflow: ellipsis;
        white-space: nowrap;

        > div {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    @include e('is-colllapse') {
      flex: 0;
      height: auto;
    }

    @include e('grid-header') {
      .cell {
        font-weight: 400;
      }
    }

    .percent {
      margin-left: 8px;
      color: #a5a5a5;
    }

    .el-table__empty-block {
      border-bottom: 1px solid lightgray;
    }

    .el-table__body-wrapper {
      border-bottom: 1px solid lightgray;
    }

    @include e('caption') {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px 10px 0 0;
      margin-bottom: 16px;
      border-bottom: 1px solid #e9e9e9;
      @include m('collapse-end') {
        display: flex;
        gap: 16px;
      }

      @include m('collapse-icon') {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
      }
    }

    @include e('table') {
      height: 100%;

      @include when('show-grid-caption') {
        height: calc(100% - 64px);
      }
    }
  }

  @include b('chart-grid-top') {
    flex-direction: column-reverse;
  }
  @include b('chart-grid-bottom') {
    flex-direction: column;
  }
  @include b('chart-grid-left') {
    flex-direction: row-reverse;
    @include e('grid') {
      width: 50%;
      height: 100%;
      max-height: 100%;
    }
    @include e('table') {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include e('chart') {
      width: 50% !important;
      height: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;
    }

    .ibiz-chart-grid__empty {
      width: 50% !important;
      height: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;
    }

    .ibiz-chart-grid__is-colllapse {
      .ibiz-chart-grid__caption--title {
        display: inline-flex;
        align-items: center;
        min-width: 50px;
      }

      .ibiz-chart-grid__caption--collapse-form {
        display: none;
      }
    }
  }
  @include b('chart-grid-right') {
    flex-direction: row;
    @include e('grid') {
      width: 50%;
      height: 100%;
      max-height: 100%;
    }
    @include e('table') {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include e('chart') {
      width: 50% !important;
      height: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;
    }

    .ibiz-chart-grid__empty {
      width: 50% !important;
      height: 100% !important;
      min-height: 100% !important;
      max-height: 100% !important;
    }

    .ibiz-chart-grid__is-colllapse {
      .ibiz-chart-grid__caption--title {
        display: inline-flex;
        align-items: center;
        min-width: 50px;
      }

      .ibiz-chart-grid__caption--collapse-form {
        display: none;
      }
    }
  }

  // 导出相关
  @include b('chart-grid') {
    @include when(exporting) {
      height: auto !important;
      .#{bem(chart-grid, chart)} {
        height: auto !important;
        min-height: unset !important;
      }
      .#{bem(chart-grid, grid)} {
        height: auto !important;
        max-height: unset !important;
      }
    }
  }
}
