/* stylelint-disable selector-class-pattern */
@include b(control-grid) {
  @include e(table) {
    @include when(attachment) {
      .el-table__header {
        .attachment-ua-column {
          .cell {
            display: none;
          }
        }
      }

      .el-table__body-wrapper {
        .attachment-ua-column {
          .cell {
            display: none;
          }

          .ibiz-action-toolbar--dropdown {
            flex: none;
            padding: 0 8px;

            ion-icon {
              display: none;
            }
          }
        }

        .attachment-ua-column::before {
          display: none;
        }

        .el-table__row.current-row,.el-table__row:hover {
          .attachment-ua-column {
            .cell {
              display: flex;
            }
          }
        }
      }
    }
  }
}
