div#app {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
    text-align: inherit;
}

::-webkit-scrollbar {
   width: 4px;
   height: 6px
}

::-webkit-scrollbar-thumb {
   background: hsla(0,0%,33.3%,.1);
}

div::-webkit-scrollbar {
   width: 4px;
   height: 6px
}

div::-webkit-scrollbar-thumb {
   background: hsla(0,0%,33.3%,.1);

}

.app-name{
    margin-left: 15px!important;
    text-align: left!important;
}

:root{
    --docsifytabs-content-padding: 0.5rem 0rem;
    --docsify-example-panels-document-width: 95%;
}

.markdown-section {
    margin: 0;
}

.content {
    padding-top: 0px;
}

.sidebar {
    width: 250px;
}

.markdown-section pre>code{
    padding: 1.2em 5px;
}

p.panel-title {
    position: relative;
    height: 0;
    margin: 0;
    line-height: 0;
    left: 4px;
    font-size: 12px;
}

.docsify-tabs {
    margin: 0!important
}

.tb-col100 {
   width: 100px;
   min-width: 100px;
   max-width: 100px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col150 {
   width: 150px;
   min-width: 150px;
   max-width: 150px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col200 {
   width: 200px;
   min-width: 200px;
   max-width: 200px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col250 {
   width: 250px;
   min-width: 250px;
   max-width: 250px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col300 {
   width: 300px;
   min-width: 300px;
   max-width: 300px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col350 {
   width: 350px;
   min-width: 350px;
   max-width: 350px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col400 {
   width: 400px;
   min-width: 400px;
   max-width: 400px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col450 {
   width: 450px;
   min-width: 450px;
   max-width: 450px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}
.tb-col500 {
   width: 500px;
   min-width: 500px;
   max-width: 500px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col501 {
   width: 500px;
   min-width: 500px;
   max-width: 500px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}

.tb-col550 {
   width: 550px;
   min-width: 550px;
   max-width: 550px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col600 {
   width: 600px;
   min-width: 600px;
   max-width: 600px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col650 {
   width: 650px;
   min-width: 650px;
   max-width: 650px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col700 {
   width: 700px;
   min-width: 700px;
   max-width: 700px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col750 {
   width: 750px;
   min-width: 750px;
   max-width: 750px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col800 {
   width: 800px;
   min-width: 800px;
   max-width: 800px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col850 {
   width: 850px;
   min-width: 850px;
   max-width: 850px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col900 {
   width: 900px;
   min-width: 900px;
   max-width: 900px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col950 {
   width: 950px;
   min-width: 950px;
   max-width: 950px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col1000 {
   width: 1000px;
   min-width: 1000px;
   max-width: 1000px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}
.tb-col1050 {
   width: 1050px;
   min-width: 1050px;
   max-width: 1050px;
   overflow:hidden;
   white-space: normal; /* 允许内容换行 */
   word-wrap: break-word; /* 长单词或URL将会断行 */
}