@include b(quill-preview) {
    position: relative;
    @include e(edit) {
        position: absolute;
        top: rem(12px);
        right: rem(15px);
        font-size: getCssVar(font-size, header-4);
    }

    .ql-editor {
        padding-right: rem(40px);

        >p{
            margin: 15px 0;
        }

        .ql-mention {
            display: inline-flex;
            gap: 0.1875rem;
            padding: 0.1875rem 0.375rem;
            margin: 0 0.25rem;
            color: var(--ibiz-editor-default-text-color);
            background-color: rgb(46 50 55 / 5%);
            border-radius: 0.25rem;
          }
    
          .ql-marker{
            margin-top: 4px;
          }
    }
    @include m(readonly) {
        .ql-editor {
            padding-right: rem(15px);
        }
    }
    @include m(disabled) {
        .ql-editor {
            padding-right: rem(15px);
        }
    }
    @include e(image-popup) {
        overflow: visible;
        background-color: transparent;
    }

    .ql-editor.ql-blank {
        padding: 0;

        &::before {
            left: 0;
            font-style: normal;
            color: getCssVar('form-item', 'placeholder-color');
        }
    }
    @include m('show-collapse'){
        @include when('collapse'){            
            height: var(--default-height);

            .ql-editor{
                overflow: hidden;
            }
        }
    }
}
@include b('quill-preview-collapse-btn'){
    display: flex;
    align-items: center;
    color: getCssVar(color,primary);
}