@include b(sample-list-content) {
  display: flex;
  flex-wrap: wrap;
}
@include b(sample-list-item) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  @include e(caption) {
    padding-right: 6px;
  }
  @include e(icon) {
    cursor: pointer;
  }
}
