$date-select: (
  width: 92px,
);

@include b('date-select') {
  @include set-component-css-var('date-select', $date-select);

  display: inline-block;
  width: getCssVar(date-select, width);
  background-color: getCssVar(color, disabled, bg);
  border-radius: getCssVar('border-radius', 'small');

  @include m(readonly) {
    pointer-events: none;
  }

  .el-date-editor {
    --el-date-editor-width: auto;

    display: flex;
    align-items: center;

    .el-input__wrapper {
      padding: 0;
      box-shadow: none;

      &.is-focus {
        box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
      }

      .el-input__inner {
        min-height: getCssVar('height-control', 'default');
        text-align: center;
        cursor: pointer;
        caret-color: transparent;
      }

      .el-input__prefix,
      .el-input__suffix {
        display: none;
      }
    }
  }
}

date-elem{
  display: inline-block;
  width: auto;
  margin: 0 1px !important;
}
