/* stylelint-disable selector-class-pattern */
@include b(raw) {
    @include when(comment-item) {
        img {
            max-width: 100%;
            cursor: zoom-in;
        }

        .comment-tag,.mob-comment-tag{
            display: inline-flex;
            gap: .1875rem;
            padding: .1875rem .375rem;
            margin: 0 .25rem;
            color: var(--ibiz-editor-default-text-color);
            background-color: rgb(46 50 55 / 5%);
            border-radius: .25rem;
        }
    }
    @include e('image-popup'){
        overflow: visible;
        background-color: transparent;
    }
}