@include b(cursor-caret) {
  width: 2px;
  position: absolute;
  @include e(text) {
    top: 0px;
    color: #fff;
    position: absolute;
    white-space: nowrap;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
  }
}