/* stylelint-disable selector-not-notation */
/* stylelint-disable selector-class-pattern */
@include b(route-drbar-control) {
  height: 100%;
  padding: getCssVar('spacing', 'none') getCssVar('spacing', 'base')
    getCssVar('spacing', 'none') getCssVar('spacing', 'none');

  // 横向不要底边线
  .el-menu--horizontal.el-menu {
    border-bottom: none;
  }

  .el-menu-item {
    justify-content: flex-start;
    height: 32px;
    padding: 0 getCssVar('spacing', 'base-tight') 0
      getCssVar('spacing', 'base-loose');
    margin-bottom: getCssVar('spacing', 'extra-tight');
    line-height: 32px;
    border-radius: getCssVar(border, radius, small);

    @include e(icon) {
      margin-right: getCssVar('spacing', 'tight');
      font-size: getCssVar('font-size', 'header-6');
    }

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:last-of-type {
      margin-bottom: getCssVar('spacing', 'none');
    }

    &:hover {
      background-color: getCssVar(color, fill, 0);
    }

    &.is-active {
      color: getCssVar(color, primary);
      background-color: getCssVar(color, primary, light, default);
    }
  }

  .el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container)
    .el-menu-item {
    padding: getCssVar('spacing', 'none') getCssVar('spacing', 'base-tight')
      getCssVar('spacing', 'none') getCssVar('spacing', 'base-loose');
  }

  .el-sub-menu {
    margin-top: getCssVar('spacing', 'extra-tight');
    margin-bottom: getCssVar('spacing', 'extra-tight');
    border-top: 1px solid getCssVar(color, border);

    &:first-child {
      margin-top: getCssVar('spacing', 'none');
      border-top: none;
    }
  }

  .el-sub-menu__title {
    height: 48px;
    font-size: getCssVar('font-size', 'regular');
    line-height: 48px;
    color: getCssVar(color, text, 3);

    &:hover {
      color: getCssVar(color, primary);
      background-color: transparent;
    }

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .el-sub-menu .el-sub-menu__icon-arrow {
    right: getCssVar('spacing', 'tight');
    font-size: getCssVar('font-size', 'regular');
    color: getCssVar(color, text, 3);
  }

  .el-sub-menu:not(.is-opened) .el-sub-menu__icon-arrow {
    transform: rotateZ(270deg) !important;
  }

  .el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container)
    .el-sub-menu__title {
    padding-right: getCssVar('spacing', 'tight');
    padding-left: getCssVar('spacing', 'tight');
  }

  @include e(menu) {
    height: 100%;
    border-right: none;

    @include m(signal) {
      padding-top: getCssVar('spacing', 'base-tight');
    }
  }

  @include e(counter) {
    flex: 0 0 auto;
    margin-left: auto;
  }
}

@include b(route-drbar-control-back-btn) {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 getCssVar('spacing', 'tight');
  line-height: 48px;
  color: getCssVar(color, text, 3);
  cursor: pointer;

  &:hover {
    color: getCssVar(color, primary);
  }

  @include e(icon) {
    margin-top: getCssVar('spacing', 'super-tight');
    margin-right: getCssVar('spacing', 'tight');
  }

  @include e(text) {
    font-size: getCssVar('font-size', 'regular');
  }
}
