/* stylelint-disable selector-class-pattern */
@include b(route-drtab-control) {
  @include e(counter) {
    margin-left: 8px;
  }

  // 标签栏
  .el-tabs {
    .el-tabs__header {
      margin: 0;

      .el-tabs__nav-wrap {
        margin: 0;

        .el-tabs__nav {
          .el-tabs__active-bar {
            background-color: getCssVar('color', 'primary');
          }

          .el-tabs__item {
            font-size: getCssVar('font-size', 'regular');
            color: getCssVar('color', 'text', 2);

            &:hover {
              color: getCssVar('color', 'text', 0);
            }

            &.is-active {
              color: getCssVar('color', 'primary');
            }

            &.is-top {
              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
      }
    }

    &.el-tabs--top,
    &.el-tabs--bottom {
      padding-left: getCssVar(spacing, base);
    }
  }
}
