@include b('user-select-tree'){
    @include e('avatar'){
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: getCssVar(spacing, loose);
        height: getCssVar(spacing, loose);
        margin-right: getCssVar(spacing,tight);
        overflow: hidden;
        font-size: getCssVar(font-size, small);
        color: white;
        border-radius: 50%;
    }

    .el-checkbox.is-disabled{
        display: none;
    }

    .ibiz-control-treeview-node--disabled{
        color: var(--ibiz-control-treeview-text-color);
    }
}