@include b(custom-user-info) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 var(--ibiz-spacing-loose);
  cursor: pointer;

  @include when(collapse) {
    padding: 0 10px;

    @include e(avatar) {
      width: 36px;
      height: 36px;
      margin-right: 0;
      line-height: 36px;
    }
  }

  @include e(avatar) {
    margin-right: 10px;
  }

  @include e(info) {
    @include m(description) {
      margin-top: 10px;
      font-size: var(--ibiz-font-size-small);
      line-height: 14px;
    }
  }
}
