$prompt-box-bg-popover: (
  width: 240px,
  clear-padding: rem(3px),
);

@include b(prompt-box-select) {

  @include e(reference) {
    display: flex;
    align-items: center;
    padding-left: getCssVar('width-icon', 'medium');

    @include m('icon') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: getCssVar('font-size', 'header-6');
      height: getCssVar('font-size', 'header-6');
      font-size: getCssVar('font-size', 'header-6');

      &.#{bem(prompt-box-select__reference--icon)} {
        margin-right: getCssVar('spacing', 'tight');
      }
    }

    &.#{bem(prompt-box-select__reference)} {
      width: 100%;
      height: getCssVar('height-control', 'large');
      padding: getCssVar('spacing', 'tight') getCssVar('spacing', 'base') getCssVar('spacing', 'tight');
      border-radius: getCssVar('border-radius', 'small');
    }

    .el-input {
      .el-input__wrapper {
        box-shadow: none;
      }
    }
  }

  @include m('readonly') {
    pointer-events: none;

    .el-input__wrapper {
      padding: 0;
    }
  }

  &.#{bem(prompt-box-select)} {
    width: 100%;
  }
}

// 第一层弹框
@include b(prompt-box-select-popover) {

  @include e('content') {
    display: flex;
    align-items: center;
    padding: getCssVar('spacing', 'extra-tight');
    box-shadow: 0 0 getCssVar('spacing', 'base') getCssVar(color, shadow);
  }

  @include e('tool-item') {
    padding: getCssVar('spacing', 'tight');
    margin-right: getCssVar('spacing', 'extra-tight');
    font-size: getCssVar('font-size', 'header-6');
    cursor: pointer;
    border-radius: getCssVar('border-radius', 'small');

    @include m('content') {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: getCssVar('font-size', 'header-6');
    }

    &:last-child {
      margin-right: getCssVar('spacing', 'none');
    }

    &:hover {
      background-color: getCssVar('color', 'primary', light, default);

      svg {
        fill: getCssVar('color', 'primary');
      }
    }
  }

  @include e('tool-item-separator') {
    width: 1px;
    min-height: getCssVar('font-size', 'header-6');
    padding: 0;
    margin: 0 getCssVar('spacing', 'tight') 0 getCssVar('spacing', 'extra-tight');
    font-size: 0;
    cursor: default;
    border-left: 1px solid getCssVar('color', 'text', 0);
  }

  @include e('tool-item-delete') {
    &:hover {
      background-color: getCssVar(color, danger, light, default);

      svg {
        fill: getCssVar(color, danger);
      }
    }
  }

  @include e('tool-item-add-emoji') {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  @include e('tool-item-background-color') {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}

// 颜色选择弹框
@include b(prompt-box-select-background-popover) {

  @include e('content') {
    @include set-component-css-var('prompt-box-bg-popover', $prompt-box-bg-popover);

    padding: getCssVar('spacing', 'tight');
    box-shadow: 0 0 getCssVar('spacing', 'base') getCssVar(color, shadow);
  }

  @include e('list') {
    display: block;
    width: getCssVar(prompt-box-bg-popover, width);
    height: auto;
    padding: 0;
    margin: 0;
    font-size: getCssVar('font-size', 'regular');
    text-align: left;
    list-style: none outside none;
    color-scheme: light;
    visibility: visible;
    unicode-bidi: isolate;
  }

  @include e('list-item') {
    display: inline-block;
    padding: getCssVar('spacing', 'extra-tight');
    font-size: getCssVar('font-size', 'regular');
    cursor: pointer;
    border-radius: getCssVar('border-radius', 'extra-small');

    @include m('color-block') {
      width: getCssVar('font-size', 'header-6');
      height: getCssVar('font-size', 'header-6');
      border: 1px solid getCssVar('color', 'border');
      border-radius: getCssVar('border-radius', 'extra-small');
    }

    &:hover {
      box-shadow: 0 0 0 1px getCssVar('color', 'text', 0) inset;
    }
  }

  @include e('list-item-clear') {
    display: flex;
    align-items: center;
    padding: getCssVar(prompt-box-bg-popover, clear-padding);
    margin-bottom: getCssVar('width-icon', 'extra-small');
    line-height: getCssVar('height-control', 'small');
    cursor: pointer;

    &:hover {
      border-radius: getCssVar('border-radius', 'extra-small');
      box-shadow: 0 0 0 1px getCssVar('color', 'text', 0) inset;
    }

    svg {
      margin-right: getCssVar('spacing', 'extra-tight');
      font-size: getCssVar('font-size', 'header-6');
    }
  }
}

// 修复独占一行元素焦点获取焦点异常
.w-e-text-container {
  .#{bem(prompt-box-select__reference)} {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      display: block;
      width: 12px;
      height: 100%;
      content: '';
    }

    &::after {
      left: -12px;
    }

    &::before {
      right: -12px;
    }
  }
}

prompt-box-elem {
  display: inline-block;
  width: calc(100% - 2px);
}
