@include b(grid-field-column) {
  @include e(text) {
    @include m(icon) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .#{bem(icon)} {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        padding: 0;
      }
    }
  }
}
