/* stylelint-disable selector-class-pattern */
@include b('baseline-compare') {
  height: 100%;
  @include when('show-page') {
    height: calc(100% - 50px);
  }
  @include e('select') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include m('separate') {
      color: #f5f5f5;
    }
    @include m('title') {
      position: relative;
      font-size: 18px;
      color: #1d1f23;
     
    }
    @include m('right') {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: end;
      height: 48px;
      margin-right: 50px;
    }
  }
  @include e('dropdown-select') {
    display: flex;
    align-items: center;
    justify-content: left;
    @include m('last') {
      height: 20px;
      padding: 0 10px;
      margin-left: 14px;
      line-height: 20px;
      background: lightgray;
      border-radius: 10px;
    }
  }
  @include e('legen-icon') {
    display: flex;
    gap: 50px;

    @include m('add') {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        top: 3px;
        right: -24px;
        width: 18px;
        height: 18px;
        content: '';
        background-color: #d5f3e0;
      }
    }
    @include m('change') {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        top: 3px;
        right: -24px;
        width: 18px;
        height: 18px;
        content: '';
        background-color: #fceecd;
      }
    }
    @include m('del') {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        top: 3px;
        right: -24px;
        width: 18px;
        height: 18px;
        content: '';
        background-color: #ffd5d5;
      }
    }
  }
  @include e('version') {
    flex: 1;
    width: 50%;
    @include m('title') {
      height: 44px;
      line-height: 44px;
      text-align: center;
    }
    @include m('compare-grid') {
      position: relative;
      height: calc(100% - 48px);
    }

    &:nth-child(1) {
      border-right: 1px solid lightgray;
    }
  }
  @include e('grid') {
    display: flex;
    flex-direction: row;
    height: calc(100% - 48px);
    border: 1px solid lightgray;

    .ibiz-grid-field-column {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .el-table__body-wrapper {
      .cell {
        min-height: 39px;
      }
    }

    .el-table td.el-table__cell {
      border-right: var(--el-table-border);
      border-bottom: var(--el-table-border) !important;
    }

    .el-table--border .el-table__cell {
      border-right: var(--el-table-border);
      border-bottom: var(--el-table-border) !important;
    }

    .ibiz-grid-ua-column .ibiz-action-toolbar--buttons {
      > .el-button {
        height: 23px;
      }
    }
  }

  @include e('table') {
    height: 100%;

    .compareline-type-add {
      background-color: #f4fcf7;
    }

    .compareline-type-edit {
      background-color: #fffcf7;
    }

    .compareline-type-del {
      background-color: #fff8f8;
    }

    .compareline-type-unedit {
      background-color: white;
    }

    .baseline-index {
      padding: 0 !important;
      background-color: #fafafa !important;

      .cell {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.baseline-header {
        border-top: var(--el-table-border) !important;
      }
    }

    .baseline-uaaction {
      padding-right: 20px;
    }

    .ibiz-grid-ua-column {
      justify-content: center;
    }
  }
}
@include b('baseline-compare-setting-box') {
  @include flex(row, flex-start, center);

  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
  height: getCssVar(control-grid, now-header-height);
  padding-right: getCssVar(spacing, extra-tight);
  background-color: getCssVar(control-grid, header, bg-color);
}
