include:
  - ./docker-compose-base-arm64.yml
services:
  #plmservice
  plmservice:
    env_file: .env
    image: ${IMAGE_URL}ibiz-service-runner:v8.1.0.575.8.plm.251213-arm64
    container_name: plmservice
    ports:
      - "${SYSTEM_APIPORT}:${SYSTEM_APIPORT}"
    networks:
      - agent_network
    environment:
      - TZ=Asia/Shanghai  
      - SPRING_CLOUD_NACOS_DISCOVERY_SERVER-ADDR=http://${NACOS_HOST}:${NACOS_PORT}
      - SPRING_CLOUD_NACOS_CONFIG_SERVER-ADDR=http://${NACOS_HOST}:${NACOS_PORT}
      - SPRING_CLOUD_NACOS_DISCOVERY_IP=plmservice
      - SERVER_PORT=${SYSTEM_APIPORT}
      - IBIZ_SERVICEHUB_INITMODE=auto
      - SPRING_DATASOURCE_DRIVER-CLASS-NAME=com.mysql.jdbc.Driver
      - SPRING_DATASOURCE_PASSWORD=plm@2024
      - SPRING_DATASOURCE_URL=jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/plm?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true&serverTimezone=GMT%2B8&allowMultiQueries=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=plm
      - JAVA_OPTS=-Xms512m -Xmx2048m -Xss512K -Dgroovy.grape.report.downloads=true
    entrypoint: /entrypoint-waitfor.sh
    command: ibiz-ebsx-gateway:30086


  #plmweb
  plmweb:
    env_file: .env
    image: ${IMAGE_URL}ibiz-cloud-web-runner:9.0.7.41-alpha.49.plm.251213-arm64
    container_name: plmweb
    ports:
      - ${SYSTEM_WEBPORT}:80
    networks:
      - agent_network
    environment:
      - TZ=Asia/Shanghai  
      - MOCKDCSYSTEMID=ibizplm
      - APPNAME=桌面端
      - APPCODE=ibizplm-plmweb
      - APICODE=ibizplm__plmweb
      - BASEURL=ibizplm__plmweb
      - PLUGINBASEURL=./plugins
      - UPLOADFILEURL=/ibizutil/upload/ibizplm
      - DOWNLOADFILEURL=/ibizutil/download/ibizplm

  #plmmob
  plmmob:
    env_file: .env
    image: ${IMAGE_URL}ibiz-cloud-mob-runner:9.0.0.47.plm.251207-arm64
    container_name: plmmob
    ports:
      - ${SYSTEM_MOBPORT}:80
    networks:
      - agent_network
    environment:
      - TZ=Asia/Shanghai  
      - MOCKDCSYSTEMID=ibizplm
      - APPNAME=移动端
      - APPCODE=ibizplm-plmmob
      - APICODE=ibizplm__plmmob
      - BASEURL=ibizplm__plmmob
      - PLUGINBASEURL=./plugins
      - UPLOADFILEURL=/ibizutil/upload/ibizplm
      - DOWNLOADFILEURL=/ibizutil/download/ibizplm
  
  #plmwiki
  plmwiki:
    env_file: .env
    image: ${IMAGE_URL}ibiz-cloud-web-runner:9.0.7.41-alpha.49.plmwiki.251213-arm64
    container_name: plmwiki
    ports:
      - ${SYSTEM_WIKIPORT}:80
    networks:
      - agent_network
    environment:
      - TZ=Asia/Shanghai
      - MOCKDCSYSTEMID=ibizplm
      - APPNAME=百科
      - APPCODE=plmwiki
      - APICODE=ibizplm__plmwiki
      - BASEURL=ibizplm__plmwiki
      - PLUGINBASEURL=./plugins
      - UPLOADFILEURL=/ibizutil/upload/ibizplm
      - DOWNLOADFILEURL=/ibizutil/download/ibizplm
      - ENABLEANONYMOUS=false
      - ANONYMOUSUSER=
      - ANONYMOUSPWD=
    entrypoint: /entrypoint-waitfor.sh
    command: plmservice:${SYSTEM_APIPORT}