@include b(breadcrumb-nav-pos) {
  width: 100%;
  height: 100%;
  position: relative;

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getCssVar('spacing', 'tight');
    border-bottom: 1px solid getCssVar(color, border);
    @include m(right) {
      display: flex;
      align-items: center;
    }
  }

  @include when(show-breadcrumb) {
    >.#{bem('view')} {
      height: calc(100% - 50px);
    }
  }
  #breadcrumb-nav-pos-searchbar,
  #breadcrumb-nav-pos-toolbar {
    > div {
      display: none;
      &:last-child {
        display: block;
      }
    }
  }
}
