@include b('team-select-virtual-list') {
  height: inherit;
  overflow: auto;
  @include e('container') {
    position: relative;
  }
  @include e('content') {
    position: absolute;
    width:100%
  }
}
