@include b('mob-personal-info') {
  font-size: getCssVar(form-item, font-size);
  line-height: getCssVar(form-item, line-height);
  color: getCssVar(form-item, text-color);
  white-space: pre-line;
}

@include b(mob-personal-info-content) {
  display: flex;
  align-items: center;
  justify-content: var(--ibiz-form-item-container-editor-align);
  height: 100%;
  @include e(head-sculpture) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: getCssVar('height-control', 'default');
    height: 100%;
    min-height: getCssVar('height-control', 'default');
    max-height: getCssVar('height-control', 'default');
    font-size: getCssVar('font-size', 'small');
    color: getCssVar(color, white);
    cursor: pointer;
    border: none;
    border-radius: 50%;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  @include e(tip) {
    margin-left: getCssVar('spacing', 'tight');
  }
}
