@include b(breadcrumb) {
  display: flex;
  align-items: center;
  padding: getCssVar('spacing', 'extra-tight');
  @include e(item) {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-right: getCssVar('spacing', 'tight');
    font-size: getCssVar('font-size', 'header-6');
    color: getCssVar(color, text, 3);

    &:hover {
      .#{bem('breadcrumb', 'item-content')} {
        color: getCssVar(color, primary);
      }
    }

    @include m(separator) {
      margin-left: getCssVar('spacing', 'tight');
    }

    @include when(active) {
      color: getCssVar(color, text, 0);

      .#{bem('breadcrumb', 'item-content')} {
        cursor: auto;
      }

      &:hover {
        .#{bem('breadcrumb', 'item-content')} {
          color: getCssVar(color, text, 0);
        }
      }
    }
  }
  @include e(item-content) {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    cursor: pointer;
  }
}
