  // 新样式
  @include b(tab-exp-select-popper) {
    &.el-popover.el-popper {
      min-width: 180px;
      padding-right: 0;
      padding-left: 0;
    }

    @include e(item) {
      display: flex;
      align-items: center;
      padding: 0 16px;
      line-height: 32px;
      cursor: pointer;

      &:hover {
        background-color: var(--ibiz-color-bg-0);
      }

      &.is-activated {
        color: getCssVar('color', primary);
        background-color: var(--ibiz-color-primary-light-default);
      }

      &.is-secondary-show {
        background-color: var(--ibiz-color-bg-0);
      }

      @include m(icon) {
        display: flex;
        align-items: center;
        margin-right: var(--ibiz-spacing-tight);
      }

      @include m(caption) {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }
    }
  }


  @include b(tab-exp-select-content) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    min-height: getCssVar('height-control', 'default');
    font-size: getCssVar('font-size', 'regular');
    line-height: getCssVar('font-size', 'regular');
    cursor: pointer;
    border: 1px solid var(--ibiz-color-border);
    border-radius: var(--el-border-radius-base);

    &:hover {
      background-color: var(--ibiz-color-primary-light-default);
      border-color: var(--ibiz-color-primary-light-default);
    }

    @include e(hashtag) {
      margin-right: getCssVar('spacing', 'extra-tight');
      font-size: getCssVar('font-size', 'header-5');
      color: var(--ibiz-color-text-3);
    }
  }
