@include b('tab-exp-select') {
    padding: 8px 20px;

    @include e('tabexp') {
        display: flex;
        flex-flow: column nowrap;

        @include m('caption') {
            flex-shrink: 0;
            margin-bottom: var(--ibiz-spacing-extra-tight);
            overflow: hidden;
            font-size: var(--ibiz-font-size-regular);
            color: #41464c;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}