/* stylelint-disable selector-class-pattern */
@include b(control-drbar-ex) {
  // 去除头部margin
  height: 100%;

  .el-tabs.el-tabs--top {
    height: inherit;
  }

  .el-tabs .el-tabs__header {
    height: inherit;
    margin: 0 !important;

    .el-tabs__nav-wrap {
      height: inherit;
    }

    .el-tabs__nav-wrap::after {
      visibility: hidden;
    }

    .el-tabs__nav-prev,
    .el-tabs__nav-next {
      display: flex;
      align-items: center;
      height: inherit;
    }

    .el-tabs__nav.is-top {
      height: inherit;
    }

    .el-tabs__item.is-top {
      align-items: start;
      height: 100%;
      padding-top: 10px;
    }

    .el-tabs__nav-scroll {
      height: inherit;
    }
  }

  // 调整显示项字体大小
  .el-tabs__item {
    font-size: getCssVar('font-size', 'medium');
  }
}
