/* stylelint-disable selector-class-pattern */
@include b(control-drbar-ex) {
  // 去除头部margin
  height: 100%;

  .el-tabs.el-tabs--top {
    height: inherit;
  }

  .el-tabs .el-tabs__header {
    height: inherit;
    margin: 0 !important;

    .el-tabs__nav-wrap {
      height: inherit;
    }

    .el-tabs__nav-wrap::after {
      visibility: hidden;
    }

    .el-tabs__nav-prev,
    .el-tabs__nav-next {
      position: absolute;
      top: 0;
      display: flex;
      align-items: flex-start;
      height: inherit;
      padding-top: 10px;

      .el-icon {
        height: rem(21px);
      }
    }

    .el-tabs__nav.is-top {
      height: inherit;
    }

    .el-tabs__item.is-top {
      align-items: start;
      height: 100%;
      padding-top: 10px;
    }

    .el-tabs__nav-scroll {
      height: inherit;
    }
  }

  // 激活
  .el-tabs__item.is-active {
    .#{bem('control-drbar-ex-more-dropdown__link')} {
      color: getCssVar('color', 'primary');

      svg {
        fill: getCssVar('color', 'primary');
      }
    }
  }

  // 调整显示项字体大小
  .el-tabs__item {
    font-size: getCssVar('font-size', 'medium');
  }

  .#{bem('control-drbar-ex-more-dropdown')} {
    &.el-dropdown {
      font-size: getCssVar('font-size', 'medium');
    }
  }
}

@include b(control-drbar-ex-pane-label) {
  @include e(text) {
    +.#{bem('control-drbar-ex-pane-label', 'counter')} {
      margin-left: getCssVar('spacing', 'tight');
    }
  }
}

// 更多样式
@include b(control-drbar-ex-more) {
  .el-tabs.el-tabs.el-tabs--top {
    .el-tabs__header {
      .el-tabs__nav-prev,
      .el-tabs__nav-next {
        display: none;
      }
    }

    .el-tabs__nav-wrap.is-scrollable {
      padding: 0;
    }
  }
}

@include b(control-drbar-ex-more-dropdown) {
  position: relative;
  height: 100%;

  @include e(link) {
    svg {
      margin-top: rem(2px);
    }

    &:hover {
      color: getCssVar(color, primary);

      svg {
        color: getCssVar(color, primary);
        fill: getCssVar(color, primary);
      }
    }

    &::after {
      position: absolute;
      top: -10px;
      left: -20px;
      display: inline-block;
      width: calc(100% + 20px);
      height: calc(100% + 10px);
      content: '';
    }
  }
}

@include b(control-drbar-ex-more-dropdown-popper) {
  width: 240px;

  @include e(current) {
    background-color: var(--ibiz-color-fill-0) !important;
  }

  @include e(label) {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    @include m(text) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include m(counter) {
      margin-left: getCssVar('spacing', 'tight');
    }
  }

  &.el-popper.el-dropdown__popper .el-scrollbar .el-dropdown__list {
    padding: var(--ibiz-spacing-extra-tight) 0;
    background-color: transparent;

    .el-dropdown-menu {
      max-height: 26vh;
      padding: 0;
      overflow: auto;
      background-color: transparent;
    }

    .el-dropdown-menu__item {
      min-height: 38px;
      color: var(--ibiz-color-text-0);
      background-color: transparent;

      &:hover {
        background-color: var(--ibiz-color-fill-0);
      }
    }
  }
}
