/* stylelint-disable selector-class-pattern */
@include b(mob-comment) {
  width: 100%;
  @include e(content) {
    height: 100%;
    min-height: rem(100px);
  }
  @include e(ql-toolbar) {
    &.ql-toolbar.ql-snow {
      border: none;
    }

    .ql-mention {
      svg {
        width: 100%;
      }
    }

    .ql-marker {
      svg {
        width: 100%;
      }
    }
  }
  @include e(ql-content) {
    &.ql-container.ql-snow {
      border: none;
    }

    .ql-mention {
      padding: rem(3px) rem(6px);
      margin: 0 rem(4px);
      color: var(--ibiz-editor-default-text-color);
      background-color: #2e32370d;
      border-radius: rem(4px);
    }

    .ql-marker {
      padding: rem(3px) rem(6px);
      margin: 0 rem(4px);
      color: var(--ibiz-editor-default-text-color);
      background-color: #2e32370d;
      border-radius: rem(4px);
    }

    .ql-editor > p {
      margin: rem(6px) 0;
    }

    .ql-editor > p:first-child {
      margin-top: 0;
    }
  }

  // 聚焦时删除placeHolder
  @include when(editing) {
    .ql-editor.ql-blank::before {
      content: '';
    }
  }
}

// 提及工作项样式
mob-marker {
  padding: 3px !important;
  margin: 0 4px !important;
  color: var(--ibiz-editor-default-text-color);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--ibiz-color-fill-2);
  border-radius: 4px;
}

mob-marker::part(svg) {
  margin: 0 4px;
  vertical-align: middle;
}

mob-marker::part(identifier) {
  margin: 0 4px;
  color: var(--ibiz-color-disabled-text);
}

mob-marker::part(name) {
  margin: 0 4px;
}

// 回复样式
@include b(mob-comment-reply) {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 40px;
  padding: 0 12px;
  margin: 0 20px;
  line-height: 40px;
  background-color: var(--ibiz-color-bg-0);

  @include e(content) {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    display: inline-block;
    height: 32px;
    margin: 4px 4px 4px 8px;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%);
  }

  ion-icon {
    flex: none;
    cursor: pointer;
  }
}

@include b('mob-comment-collapse') {
  @include e('popup') {
    --van-action-sheet-max-height: 100% !important;
    --van-popup-round-radius: 0;

    height: 100%;
    max-height: 100%;

    .ql-editor > p {
      margin: 15px 0;
    }

    .van-action-sheet__content {
      display: flex;
      flex-direction: column;
    }

    .ql-toolbar.ql-snow {
      .ql-header.ql-picker {
        width: rem(60px);
      }

      & + .ql-container.ql-snow {
        flex: auto;
        height: 0;
      }
    }
  }
  @include e(content) {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 0;

    .ql-editor {
      .ql-mention {
        display: inline-flex;
        gap: 0.1875rem;
        padding: 0.1875rem 0.375rem;
        margin: 0 0.25rem;
        color: var(--ibiz-editor-default-text-color);
        background-color: rgb(46 50 55 / 5%);
        border-radius: 0.25rem;
      }

      .ql-marker {
        margin-top: 4px;
      }
    }
  }
  @include e(footer) {
    display: flex;
    flex: none;
    padding: 10px;

    .van-button {
      width: 100%;
    }

    .van-button + .van-button {
      margin-left: getCssVar(spacing, tight);
    }
  }
  @include e(ql-toolbar) {
    &.ql-toolbar.ql-snow {
      border: none;
    }

    .ql-mention {
      svg {
        width: 100%;
      }
    }

    .ql-marker {
      svg {
        width: 100%;
      }
    }
  }
}
