/* stylelint-disable selector-class-pattern */
@include b(case-steps-table) {
    border: 1px solid getCssVar(color, border);
    border-bottom: none;

    @include when(disabled) {
        border-right: none;
        .#{bem(case-steps-table, cell, operations)}{
            display: none
        }
    }
    @include e(row) {
        @include flex;

        border-bottom: 1px solid getCssVar(color, border);
    
        @include m(ghost) {
            border-bottom: 1px solid getCssVar(color, primary);
        }
        @include when(group) {
            .#{bem(case-steps-table, cell, index)}{
                &:hover {
                    .#{bem(case-steps-table, cell, icon)}{
                        display: none;
                    }

                    span {
                        display: inline;
                    }
                }
            }
        }
    }

    @include e(header) {
        height: 40px;
    }

    @include e(body) {
        .#{bem(case-steps-table, cell, index)}{
            cursor: pointer;

            &:hover {
                .#{bem(case-steps-table, cell, icon)}{
                    display: inline;
                }

                span {
                    display: none;
                }
            }
        }
        .#{bem(case-steps-cell)}{
            display: contents;
            .#{bem(grid-edit-item)} {
                flex: auto;
                width: 0;
                height: auto;
                min-height: getCssVar('height-control', 'default');
                padding: getCssVar('spacing', 'extra-tight') getCssVar('spacing', 'tight');
                border-right: 1px solid getCssVar(color, border);
                .#{bem(grid-edit-item, tooltip)}>div {
                    align-self: center;
                    width: 100%;

                    &.el-textarea  {
                        align-self: flex-start;
                    }
                }
                
                .#{bem('dropdown')},
                .el-select,
                .el-textarea {
                    height: 100%;
                    min-height: getCssVar('height-control', 'default');
                }

                .el-select {
                    display: flex;
                    align-items: center;
                }

                .el-input__wrapper,
                .el-textarea__inner {
                    min-height: 100% !important;
                    padding: 0;  
                    line-height: getCssVar('height-control', 'default');
                    box-shadow: none !important;
            
                    --el-input-border: transparent;
                    --el-input-hover-border: transparent;
                    --el-input-focus-border: transparent;
                    --el-input-transparent-border: 0 0 0 1px transparent inset;
                    --el-input-border-color: transparent;
                    --el-input-border-radius: 0;
                    --el-input-bg-color: transparent;
                    --el-input-icon-color: transparent;
                    --el-input-hover-border-color: transparent;
                    --el-input-clear-hover-color: transparent;
                    --el-input-focus-border-color: transparent;
                    
                }
            

                &:has(.el-textarea__inner:focus) {
                    position: relative;

                    &::after,
                    &::before,
                    &>div::after,
                    &>div::before {
                        position: absolute;
                        display: inline-block;
                        content: '';
                    }

                    &::before,
                    &::after {
                        top: -1px;
                        width: 1px;
                        height: calc(100% + 2px);
                    }

                    &>div::after,
                    &>div::before {
                        left: -1px;
                        width: calc(100% + 2px);
                        height: 1px;
                    }

                    &::before {
                        left: -1px;
                        border-left: 1px solid getCssVar('color', 'primary');
                    }

                    &::after {
                        right: -1px;
                        border-right: 1px solid getCssVar('color', 'primary');
                    }

                    &>div::before {
                        top: -1px;
                        border-top: 1px solid getCssVar('color', 'primary');
                    }

                    &>div::after {
                        bottom: -1px;
                        border-bottom: 1px solid getCssVar('color', 'primary');
                    }
                }
            
            }
        }

        &:has(.el-button) {
            .#{bem(case-steps-cell)} {
                .#{bem(grid-edit-item)} {
                    padding: getCssVar('spacing', 'tight');
                }
            }
        }
    }

    .#{bem(case-steps-cell)}{
        flex: auto;
        flex-basis: 0;
    }

    .#{bem(case-steps-table, cell, icon)}{
        position: absolute;
        display: none;
        font-size: 1.8em;
        color: getCssVar(color, primary);
    }

    .#{bem(case-steps-table, cell, index)}{
        flex: none;
        @include flex(row, center, center);
    }
    .#{bem(case-steps-table, cell, operations)}{
        flex: none;
        @include flex(row, center, center);
    }

}