@include b('auto-rules'){
    @include e('field-select'){
        display: flex;
        gap: 16px;
    }
    @include e('rules-select'){
        display: flex;
        margin-top: 16px;
        @include when('visible'){
            display: none;
        }
        @include m('fix'){
            flex: 1;
        }
    }
    @include b('auto-rules-select'){
        flex: 1;
    }
    @include b('auto-rules-child-select'){
        flex: 1;
    }
    @include b('auto-rules-code-rules'){
        display: flex;
        gap:16px;
        align-items: center;
        @include e('change'){
            color: getCssVar(color,text,3);
        }
    }
    @include b('auto-rules-select-option-content'){
        @include e('text'){
            color:getCssVar('auto-rules','select-option-item-color')
        }
    }
    @include b('auto-rules-rules-select'){
        flex: 1;
    }
    @include b('auto-rules-code-rules'){
        display: flex;
        flex: 1;
    }
}