/* stylelint-disable selector-class-pattern */
@include b(number-grid) {
  @include e(first-column) {
    > .cell {
      height: 54px !important;
    }
  }

  @include e(number) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include m(caption) {
      display: block;
    }

    @include m(checkbox) {
      display: none;
      align-items: center;
    }
  }

  .group-column {
    display: flex;
    align-items: center;

    .group-icon {
      margin-right: 4px;
    }
  }

  .el-table__row {
    &:hover,
    &.current-row {
      .#{bem('number-grid','number', 'caption')} {
        display: none;
      }

      .#{bem('number-grid','number', 'checkbox')} {
        display: flex;
      }
    }
  }

  @include when(enable-customized) {
    // 表格列头样式
    .el-table__header-wrapper {
      .el-table__header thead > tr th:first-child {
        padding-right: 0;
      }
    }
    @include b(control-grid-setting-box) {
      z-index: 2;
    }
  }

  .el-table__expand-icon {
    width: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
  }

  .el-table__indent,
  .el-table__placeholder {
    flex-shrink: 0;
  }

  .el-table__placeholder {
    width: 24px;
  }

  .el-table__expand-icon > .el-icon {
    font-size: 16px;
  }

  .el-table__expand-icon,
  .el-table__placeholder {
    + .#{bem('grid-field-column','', 'ellipsis')} {
      min-width: 0;
    }
  }
}

@include b(number-grid-batch-toolbar) {
  height: 54px !important;
}

@include b(number-grid-setting-box) {
  height: 54px !important;
}
