/* stylelint-disable selector-class-pattern */
@include b('team-picker') {
  width: 100%;
  @include e('select') {
    position: relative;
    width: 100%;
    @include m('input') {
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      padding: 1px 11px;
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgb(29 31 35 / 10%) inset;
      transition: box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      @include when('focus') {
        box-shadow: 0 0 0 1px rgb(105 148 190 / 100%) inset;
      }

      &:hover {
        box-shadow: 0 0 0 1px rgb(105 148 190 / 100%) inset;
      }
    }
    @include m('input-content'){
      flex: 1;

      .ibiz-team-picker__item{
        padding: 0;

        &:hover{
          background-color: unset;
        }
      }
    }
    @include m('input-icon'){
      flex: 0;

      .el-icon{
        color:rgb(136 141 145);
        @include when('reverse'){
          rotate: 180deg;
        }
      }
    }
    @include m('list') {
      max-height: 288px;
      overflow-y: auto;
    }
  }
  @include e('item') {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 32px;
    padding: 0 20px;
    cursor: pointer;

    &:hover{
      background-color: var(--ibiz-color-fill-0);
    }
    @include m('org-icon') {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      flex-shrink: 0;
      color: var(--ibiz-color-primary);
    }
    @include m('team-icon') {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      flex-shrink: 0;
      color: var(--ibiz-color-primary);
    }
    @include m('text-icon') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      min-width: 24px;
      height: 24px;
      margin-right: 10px;
      overflow: hidden;
      font-size: 12px;
      color: white;
      flex-shrink: 0;
      border: 0.5px solid lightgray;
      border-radius: 50%;
    }
    @include m('img-avatar') {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include m('content') {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @include m('type') {
      color: #9f9f9f;
    }
    @include m('type-divide') {
      margin: 0 10px;
      color: #9f9f9f;
    }
    @include m('readonly'){
      .ibiz-team-picker__item{
        padding: 0;
  
        &:hover{
          cursor: unset;
          background-color: unset;
        }
      }
    }
  }

}
