@include b(403-view) {
  @include flex(column, center, center);

  width: 100%;
  height: 100%;
  font-size: 16px;

  @include b(403-view-text) {
    margin-top: 40px;
    @include flex(column, center, center);
    @include e(text1) {
      margin-bottom: 20px;
    }

    @include e(text2){
      a{  
        color: rgb(85 125 165 / 100%);
        cursor: pointer;
      }
    }
  }

  @include when(top) {
    width: 100vw;
    height: 100vh;
  }
}
