@include b(marker) {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
    max-height: 315px;
    padding: 12px 0;
    overflow: auto;
    @include e(item) {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 8px;
        padding: 4px 12px;
        line-height: 28px;
        cursor: pointer;

        &:hover {
            background-color: var(--ibiz-color-bg-0);
        }

        @include when(active) {
            background-color: var(--ibiz-color-bg-0);
        }
        @include e(type) {
            flex: none;
            width: 28px;
            overflow: hidden;
            white-space: nowrap;
        }
        @include e(identifier) {
            flex: none;
        }
        @include e(name) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .ibiz-no-data {
        padding: 0;
    }
}
