@include b('clip-board-span') {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: getCssVar(form-item,font-size);
  line-height: getCssVar(form-item, line-height);
  color: getCssVar(form-item, text-color);
  white-space: pre-line;

  &:hover {
    @include e(copy) {
      display: block;
    }
  }

  @include m(readonly) {
    color: getCssVar(form-item, readonly-color);
  }

  @include e(code-list){
    display: inline-block;
    height: 100%;
  }

  @include e(copy) {
    display: none;
  }

  @include e(content) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .#{bem(code-list__item)} {
    color: getCssVar(form-item, text-color);
  }
}
