/* stylelint-disable selector-class-pattern */
@include b(resource-dropdown-list) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@include b(resource-dropdown-list-dropdown) {
  height: getCssVar(editor, default, line-height);

  @include e(content) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 getCssVar('spacing', 'base');
    cursor: pointer;
    border-radius: var(--el-border-radius-base);

    &:hover {
      background-color: var(--ibiz-color-primary-light-default);

      .#{bem(resource-dropdown-list-dropdown__content--icon)} {
        svg {
          color: getCssVar('color', 'primary');
          fill: getCssVar('color', 'primary');
        }
      }

      .#{bem(resource-dropdown-list-dropdown__content--text)} {
        color: getCssVar('color', 'primary');
      }
    }

    @include m(icon) {
      line-height: 0;

      svg {
        font-size: getCssVar('font-size', 'header-6');
        fill: getCssVar('color', 'text-2');
      }
    }

    @include m(text) {
      margin-left: getCssVar('spacing', 'tight');
    }
  }
}

@include b(resource-dropdown-list-dropdown-popper) {
  width: 240px;

  @include e(content) {
    display: flex;
    align-items: center;
    width: 100%;

    @include m(icon) {
      display: flex;
      align-items: center;
      margin-right: getCssVar('spacing', 'tight');

      svg {
        font-size: getCssVar('font-size', 'header-6');
        fill: getCssVar('color', 'text-2');
      }
    }

    @include m(text) {
      flex-grow: 1;
    }

    @include m(correct) {
      svg {
        fill: getCssVar('color', 'primary');
      }
    }
  }

  &.el-popper.el-dropdown__popper .el-scrollbar .el-dropdown__list {
    padding: var(--ibiz-spacing-extra-tight) 0;
    background-color: transparent;

    .el-dropdown-menu {
      max-height: 26vh;
      padding: 0;
      overflow: auto;
      background-color: transparent;
    }

    .el-dropdown-menu__item {
      min-height: 38px;
      color: var(--ibiz-color-text-0);
      background-color: transparent;

      &:hover {
        background-color: var(--ibiz-color-fill-0);
      }

      &:nth-child(1) {
        min-height: getCssVar(editor, default, line-height);
        padding-bottom: 0;
        pointer-events: none;
        ;
        cursor: text;

        .#{bem(resource-dropdown-list-dropdown-popper__content--text)} {
          color: getCssVar(color, disabled, text);
        }
      }
    }
  }
}
