$mob-identifier-title: (color: getCssVar('color', 'text', 0),
  font-size: getCssVar('font-size', 'header-5'),
  sub-main-font-size: getCssVar('font-size', 'header-6'),
  font-weight: getCssVar('font-weight', 'bold'),
  line-height: rem(26px),
  text-align: center,
  min-height: getCssVar('spacing', 'super-loose'),
  sub-caption-font-size: getCssVar('font-size', 'regular'),
  sub-caption-color: getCssVar('color', 'text', 2),
  padding: getCssVar('spacing', 'tight') 0,
  icon-width: rem(20px),
);

@include b('mob-identifier-title') {
  @include set-component-css-var(mob-identifier-title, $mob-identifier-title);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: getCssVar('mob-identifier-title', 'min-height');
  padding: getCssVar('mob-identifier-title', 'padding');


  @include b('mob-identifier-title-caption') {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: getCssVar('mob-identifier-title', 'font-size');
    font-weight: getCssVar('mob-identifier-title', 'font-weight');
    line-height: getCssVar('mob-identifier-title', 'line-height');
    color: getCssVar('mob-identifier-title', 'color');
    text-align: getCssVar('mob-identifier-title', 'text-align');
    border-radius: getCssVar('border-radius', 'small');


    >span {
      @include utils-ellipsis;
    }

    @include b(icon) {
      flex-shrink: 0;
      width: getCssVar('mob-identifier-title', 'icon-width');
      margin-right: getCssVar(spacing, tight);
      font-size: getCssVar('mob-identifier-title', 'icon-width');
    }
  }
}
