/* stylelint-disable selector-class-pattern */
@include b('grid-edit-column') {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include m(ellipsis){
    @include e(editor) {
      @include utils-ellipsis;
    }
  }

  @include m(wrap){
    @include e(editor) {
      @include overflow-wrap;
    }
  }

  // 常规操作级按钮隐藏
  @include e(item) {
    @include m('level-200') {
      opacity: 0;
    }
  }

  @include m(edit-item) {
    flex-grow: 1;
    width: 0;
  }

  @include b('grid-edit-column-edit-container') {
    display: flex;
    width: 100%;
  }

  @include b('grid-edit-column-text-container') {
    flex-grow: 1;
    width: 0;
    padding: getCssVar('spacing', 'tight');
    @include utils-ellipsis;
  }

  @include b('grid-edit-column-toolbar-container') {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    text-align: center;

    &>.el-button {
      padding: 4px 0;
      margin-right: 3px;

      .ibiz-icon {
        font-size: 16px;
      }

      +.el-button {
        margin: 0 0 0 4px;
        margin-right: 3px;
      }
    }

    .hover-action {
      font-size: 16px;
      color: var(--ibiz-color-primary);
      cursor: pointer;
      opacity: 0;

      svg {
        fill: var(--ibiz-color-primary);
      }

      .el-icon {
        color: var(--ibiz-color-primary);
      }
    }
  }

  .ibiz-grid-edit-item--show-mask:hover {
    cursor: pointer;
    background-color: initial;
  }
}
@include b('grid-edit-column-actions-popper') {

  .#{bem('grid-edit-column-action', 'icon')} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    margin-right: 6px;
  }

  @include e('action-group') {
    .el-button {
      display: block;
      width: 100%;
      height: 32px;
      padding: 8px 10px;
      margin: 0;
      font-size: 14px;
      color: var(--ibiz-color-text-2);
      text-align: left;
      border-radius: 0;

      &:hover {
        background-color: var(--ibiz-color-fill-0);

        &:not(.is-disabled) {
          color: var(--ibiz-color-primary);
        }
      }
    }

    @include m('edit-column') {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 8px 10px;
      line-height: 32px;
      cursor: pointer;

      .ibiz-icon,
      i {
        min-width: 14px;
        margin-right: 5px;
      }

      &:hover {
        color: var(--ibiz-color-primary);
        background-color: var(--ibiz-color-fill-0);
      }
    }
  }
  @include e('edit-group') {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(231 231 231);
  }
}

.el-table__row:hover {
  @include b('grid-edit-column') {
    .hover-action {
      opacity: 1;
    }
  }

  // 常规操作级按钮隐藏
  @include b('grid-edit-column') {
    @include e('item') {
      @include m('level-200') {
        opacity: 1;
      }
    }
  }
}
