appId:BASEURL
mockDcSystemId:MOCKDCSYSTEMID
hub:HUB
enableAnonymous:ENABLEANONYMOUS
anonymousUser:ANONYMOUSUSER
anonymousPwd:ANONYMOUSPWD
dev:DEV
enableMqtt:ENABLEMQTT
mqttUrl:MQTTURL
logLevel:LOGLEVEL
baseUrl:BASEURL
pluginBaseUrl:PLUGINBASEURL
isLocalModel:ISLOCALMODEL
remoteModelUrl:REMOTEMODELURL
assetsUrl:ASSETSURL
dcSystem:DCSYSTEM
downloadFileUrl:DOWNLOADFILEURL
uploadFileUrl:UPLOADFILEURL
casLoginUrl:CASLOGINURL
loginMode:LOGINMODE
menuPermissionMode:MENUPERMISSIONMODE
enablePermission:ENABLEPERMISSION
routePlaceholder:ROUTEPLACEHOLDER
enableWfAllHistory:ENABLEWFALLHISTORY
isSaaSMode:ISSAASMODE
AppTitle:APPTITLE
favicon:FAVICON
marketAddress:MARKETADDRESS
tokenHeader:TOKENHEADER
tokenPrefix:TOKENPREFIX
customParams:CUSTOMPARAMS
oauthOpenAccessId:OAUTHOPENACCESSID
enableEncryption:ENABLEENCRYPTION
cookieDomain:COOKIEDOMAIN
appLoadingTheme:APPLOADINGTHEME
AppLabel:APPLABEL
environmentTag:ENVIRONMENTTAG