/* stylelint-disable selector-class-pattern */
@include b('raw-activity') {
  @include e('paragraph') {
    .activity-item {
      padding: 8px 4px;
    }

    .activity-item--contrast {
      color: var(--ibiz-color-primary);

      &:hover {
        text-decoration: underline solid;
      }
    }

    .activity-item .activity-item--description {
      margin: 8px 0 0;
    }

    .activity-item .activity-item--description .flip-rtl {
      padding: 0 8px;
    }
  }
}
