/* stylelint-disable selector-class-pattern */
@include b('emoji-input') {
  display: flex;
  height: 100%;

  @include e('input') {
    .el-input-group__prepend {
      padding: 0;
    }
  }

  @include e('button-content') {
    display: flex;
    align-items: center;

    &:hover {
      .#{bem(emoji-input, button-content, icon)}.#{bem(emoji-input, button-content, icon)} {
        display: block;
      }
    }

    @include m('icon') {
      &:hover {
        fill: getCssVar('color', 'primary');
      }
    }
  }

  @include e('button') {
    display: flex;
    align-items: center;
    min-width: 14px;

    &.is-clear {
      position: relative;
      padding: getCssVar('spacing', 'none');

      .#{bem(emoji-input__button-content--icon)} {
        position: absolute;
        top: rem(4px);
        right: -60%;
        display: none;
        margin-right: 0;
        fill: var(--el-color-info);

        &:hover {
          fill: getCssVar(color, primary);
        }
      }
    }
  }

  @include m('readonly') {
    .#{bem(emoji-input__button)} {
      pointer-events: none;
    }

    .is-clear.is-clear .#{bem(emoji-input__button-content--icon)} {
      display: none;
    }
  }
}

@include b('emoji-input-emoji') {
  @include e(reference) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: getCssVar('height-control', 'large');
    cursor: pointer;
  }
}

@include b('emoji-input-emoji-popper') {
  &.el-popper.el-popper {
    padding: 0;
  }
}
