/* stylelint-disable selector-class-pattern */
@include b(ancho-html-nav-bar) {
  width: 100%;
  height: 100%;
  font-size: getCssVar(font-size, regular);
  color: getCssVar(editor, default, text-color);

  @include e('paragraph') {
    display: flex;
    gap: 16px;

    @include m('ancho') {
      position: sticky;
      top: 56px;
      right: 5px;
      width: 200px;
    }

    @include m('html-content') {
      flex-grow: 1;
      width: 100%;
      padding-right: 5px;

      .comment-tag{
        white-space: nowrap !important;
        cursor: unset;

        &.is-click {
          cursor: pointer;
        }
      }

      img {
        cursor: zoom-in;
      }

      table {
        border-collapse: collapse;

        th {
          padding: 8px;
          background-color: #F3F3F3;
          border: 1px solid var(--ibiz-color-border);
        }

        td {
          height: 49px;
          min-height: 49px;
          padding: 8px;
          empty-cells: show;
          border: 1px solid var(--ibiz-color-border);
        }
      }

      * {
        white-space: pre-wrap;
      }
    }

    @include m('ancho-container') {
      flex: 0;
      max-width: 200px;
    }

    @include b('ancho-html-nav-bar-ancho') {
      transition: all 0.5s ease;

      @include when('ancho-collapse') {
        width: 56px;

        @include e('title-item') {
          @include m('text') {
            >p {
              visibility: hidden;
            }
          }
        }
      }

      @include e('directory') {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        >i {
          margin-right: 10px;
          cursor: pointer;

          &:hover {
            color: var(--ibiz-color-primary);
          }
        }

        @include m('title') {
          font-size: 15px;
          font-weight: bold;
        }
      }

      @include e('title-item') {
        position: relative;
        height: max-content;
        max-height: calc(80vh - 175px);
        overflow: auto;

        @include m('text') {
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;

          >p {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }

        }

        @include m('text-1') {
          padding-left: 12px;
        }

        @include m('text-2') {
          padding-left: 24px;
        }

        @include m('text-3') {
          padding-left: 36px;
        }

        @include m('text-4') {
          padding-left: 48px;
        }

        @include m('text-5') {
          padding-left: 60px;
        }

        @include m('text-6') {
          padding-left: 72px;
        }

        @include m('text-title') {
          position: relative;
          font-size: 14px;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            margin: 0;
            overflow: hidden;
            font-size: 14px;
            font-weight: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          * {
            font-size: 14px !important;
            color: rgb(85 91 97) !important;
          }

          strong {
            margin: 0;
            font-size: 14px;
            font-weight: normal;
          }

          @include when('ancho-select') {
            overflow: hidden;
            font-size: 16px;
            color: var(--ibiz-color-primary);

            &::before {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              width: 3px;
              height: 32px;
              visibility: visible;
              content: "";
              background-color: var(--ibiz-color-primary);
            }
          }

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 3px;
            height: 32px;
            visibility: visible;
            content: "";
            background-color: var(--ibiz-color-border);
          }

          &:hover {
            color: var(--ibiz-color-primary);
          }
        }
      }
    }
  }

  // 控制表格样式
  table {
    width: 100% !important;
    border-collapse: collapse;

    th {
      height: 49px;
      min-height: 49px;
      padding: 8px;
      background-color: var(--ibiz-color-bg-0);
      border: 1px solid var(--ibiz-color-border);
    }

    td {
      height: 49px;
      min-height: 49px;
      padding: 8px;
      empty-cells: show;
      border: 1px solid var(--ibiz-color-border);
    }
  }

  // 控制图片预览模态的样式
  .el-image-viewer__canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }

  @include b(icon) {
    width: 100%;
    height: 100%;
  }

  // 此处控制富文本代码块的样式

  pre>code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    hyphens: none;
    line-height: 1.5;
    color: black;
    text-align: left;
    text-shadow: 0 1px var(--ibiz-color-bg-1);
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    white-space: pre;
    background: none;
    word-spacing: normal;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }

  // /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
  }

  /* Inline code */
  :not(pre)>code[class*="language-"] {
    padding: .1em;
    white-space: normal;
    border-radius: .3em;
  }


  pre>code .token.comment,
  pre>code .token.prolog,
  pre>code .token.doctype,
  pre>code .token.cdata {
    color: slategray;
  }

  pre>code .token.punctuation {
    color: #999;
  }

  pre>code .token.namespace {
    opacity: 0.7;
  }

  pre>code .token.property,
  pre>code .token.tag,
  pre>code .token.boolean,
  pre>code .token.number,
  pre>code .token.constant,
  pre>code .token.symbol,
  pre>code .token.deleted {
    color: #905;
  }

  pre>code .token.selector,
  pre>code .token.attr-name,
  pre>code .token.string,
  pre>code .token.char,
  pre>code .token.builtin,
  pre>code .token.inserted {
    color: #690;
  }

  pre>code .token.operator,
  pre>code .token.entity,
  pre>code .token.url,
  pre>code .language-css .token.string,
  pre>code .style .token.string {
    color: #9a6e3a;
  }

  pre>code .token.atrule,
  pre>code .token.attr-value,
  pre>code .token.keyword {
    color: #07a;
  }

  pre>code .token.function,
  pre>code .token.class-name {
    color: #DD4A68;
  }

  pre>code .token.regex,
  pre>code .token.important,
  pre>code .token.variable {
    color: #e90;
  }

  pre>code .token.important,
  pre>code .token.bold {
    font-weight: bold;
  }

  pre>code .token.italic {
    font-style: italic;
  }

  pre>code .token.entity {
    cursor: help;
  }
}
